flows_PEGASUS.json
[{"id":"5fbc3ab3.de7abc","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"fda4837d.3442c8","type":"mqtt-broker","z":"","name":"Test Mosquitto","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"cd7c95ee.44bbf8","type":"ui_tab","z":"","name":"Baumhaus Sentient Lighting","icon":"dashboard"},{"id":"f288ab81.8e1de8","type":"ui_group","z":"","name":"Light Controls (Manual)","tab":"cd7c95ee.44bbf8","order":1,"disp":true,"width":"6","collapse":false},{"id":"5aa745a.016683c","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#6f6d39","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#6f6d39","edited":true},"page-titlebar-backgroundColor":{"value":"#6f6d39","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#a29f53","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#6f6d39","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}}},"site":{"name":"Sentient Light Dashboard","hideToolbar":"true","allowSwipe":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"f513cde4.73315","type":"ui_group","z":"","name":"Preview","tab":"cd7c95ee.44bbf8","order":2,"disp":true,"width":"6","collapse":false},{"id":"7ad0ffbe.3cc6e","type":"ui_group","z":"","name":"MQTT Sensors (Input)","tab":"cd7c95ee.44bbf8","order":3,"disp":true,"width":"6","collapse":false},{"id":"3b13f037.fc2d28","type":"ui_group","z":"","name":"MQTT LEDs (Output)","tab":"cd7c95ee.44bbf8","order":4,"disp":true,"width":"6","collapse":false},{"id":"136d6f1b.589b79","type":"inject","z":"5fbc3ab3.de7abc","name":"Sensors start","topic":"","payload":"Random","payloadType":"str","repeat":"10","crontab":"","once":true,"onceDelay":0.1,"x":140,"y":820,"wires":[["7952a344.42b664"]]},{"id":"56e7f752.262c5","type":"mqtt out","z":"5fbc3ab3.de7abc","name":"","topic":"temp/bh/sensor1","qos":"","retain":"","broker":"fda4837d.3442c8","x":530,"y":800,"wires":[]},{"id":"7952a344.42b664","type":"function","z":"5fbc3ab3.de7abc","name":"Sensors Simulation","func":"var adjustSensor = function(val, wasIncreasing) {\n    var delta = Math.random();\n    var newVal = 0;\n    var newIsIncreasing = true;\n    if (!val) {\n        newVal = delta;\n        newIsIncreasing = true;\n    } else {\n        newIsIncreasing = (wasIncreasing) ? ((val + delta) < 10) : ((val - delta) < 0);\n        newVal = (newIsIncreasing) ? val + delta : val - delta;\n    }\n    return { value: newVal, isIncreasing: newIsIncreasing }\n}\n\nres1 = adjustSensor(context.sensor1, context.isSensorIncreasing1);\nres2 = adjustSensor(context.sensor2, context.isSensorIncreasing2);\n\ncontext.sensor1 = res1.value;\ncontext.isSensorIncreasing1 = res1.isIncreasing;\ncontext.sensor2 = res2.value;\ncontext.isSensorIncreasing2 = res2.isIncreasing;\n\n// var newMsg = {payload: ret};\nvar newMsg1 = { payload: context.sensor1 };\nvar newMsg2 = { payload: context.sensor2 };\nreturn [newMsg1, newMsg2];","outputs":2,"noerr":0,"x":330,"y":820,"wires":[["56e7f752.262c5"],["673297b0.5de488"]],"inputLabels":["blah"]},{"id":"4a4c6ca8.ce0814","type":"mqtt in","z":"5fbc3ab3.de7abc","name":"","topic":"temp/bh/sensor1","qos":"0","broker":"fda4837d.3442c8","x":760,"y":800,"wires":[["89f536d9.8f0fe","9e2eca7e.b6bde8"]]},{"id":"89f536d9.8f0fe","type":"debug","z":"5fbc3ab3.de7abc","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1030,"y":800,"wires":[]},{"id":"462baedc.057db8","type":"function","z":"5fbc3ab3.de7abc","name":"Slider Control","func":"var msgSliderCold = {};\nvar msgSliderWarm = {};\nvar msgSliderAmber = {};\n\nif (msg.action === 'action_black') {\n    msgSliderCold.payload = 0;\n    msgSliderWarm.payload = 0;\n    msgSliderAmber.payload = 0;\n}\n\nif (msg.action === 'action_bright') {\n    msgSliderCold.payload = 255;\n    msgSliderWarm.payload = 255;\n    msgSliderAmber.payload = 255;\n}\n\nif (msg.action === 'action_amber') {\n    msgSliderCold.payload = 0;\n    msgSliderWarm.payload = 0;\n    msgSliderAmber.payload = 255;\n}\n\nreturn [msgSliderCold, msgSliderWarm, msgSliderAmber];","outputs":3,"noerr":0,"x":320,"y":340,"wires":[["9b290aff.e174f"],["874b8f3.8433d7"],["a0d00e3b.268398"]]},{"id":"16080312.da3cd5","type":"trigger","z":"5fbc3ab3.de7abc","op1":"refresh","op2":"","op1type":"str","op2type":"pay","duration":"-1000","extend":false,"units":"ms","reset":"","bytopic":"all","name":"LED Refresh","x":630,"y":200,"wires":[["17ea8b54.60a58d"]]},{"id":"c3536b58.087738","type":"function","z":"5fbc3ab3.de7abc","name":"Drops","func":"if (global.get('effect_drops')) {\n    var stripLength = global.get('stripLength');\n    var orientations = global.get('orientations');\n    \n    // defines the drops offset in the node context\n    var dropsOffset = (context.get('dropsOffset')||0) + 1;\n    context.set('dropsOffset', dropsOffset);\n    \n    var dropLength = 7;\n    var brightLength = 3;\n    \n    var factor = 1.0;\n    \n    var col = 0;\n    var orientation;\n    for (var j = 0; j < orientations.length; j++) {\n        orientation = orientations[j];\n        for (var i = 0; i < stripLength; i++) {\n            isOn = (Math.abs((col + dropsOffset + i) % dropLength)) < brightLength;\n            factor = (isOn) ? 1.0 : 0;\n            msg.factors.tree[orientation][i] = \n                [factor * msg.factors.tree[orientation][i][0], \n                factor * msg.factors.tree[orientation][i][1], \n                factor * msg.factors.tree[orientation][i][2]];\n        }\n        col+= 1;\n    }\n}\n\n// node.warn(\"Drops - msg.factors.tree['north1'][0] : \" + msg.factors.tree['north1'][0]);\n\nreturn msg;","outputs":1,"noerr":0,"x":970,"y":360,"wires":[["37d1603e.163ab"]]},{"id":"7725999d.db3a7","type":"ui_button","z":"5fbc3ab3.de7abc","name":"","group":"f288ab81.8e1de8","order":1,"width":"0","height":"0","passthru":false,"label":"Black","color":"","bgcolor":"{{msg.uiButtonBlack}}","icon":"","payload":"action_black","payloadType":"str","topic":"","x":90,"y":220,"wires":[["cd9cfbd3.3fa39"]]},{"id":"f7f8b550.13a2e8","type":"ui_button","z":"5fbc3ab3.de7abc","name":"","group":"f288ab81.8e1de8","order":2,"width":0,"height":0,"passthru":false,"label":"Bright","color":"","bgcolor":"{{msg.uiButtonBright}}","icon":"","payload":"action_bright","payloadType":"str","topic":"","x":90,"y":260,"wires":[["cd9cfbd3.3fa39"]]},{"id":"cd9cfbd3.3fa39","type":"function","z":"5fbc3ab3.de7abc","name":"Payload2Action","func":"/**\n * output 1 : action\n * output 2 : reset message to stop some effects (eg. drops)\n * output 3 : message to drive the ui (eg. highlight selected button)\n */\n\nmsg.action = msg.payload;\nvar uiMsg = {};\n\nvar sendUIMsg = true;\n\nswitch (msg.payload) {\n    case 'action_black':\n        uiMsg.uiButtonBlack = 'dimgrey';\n        uiMsg.uiButtonBright = 'black';\n        uiMsg.uiButtonAmber = 'black';\n        uiMsg.uiButtonSliders = 'black';\n        break;\n    case 'action_bright':\n        uiMsg.uiButtonBlack = 'black';\n        uiMsg.uiButtonBright = 'dimgrey';\n        uiMsg.uiButtonAmber = 'black';\n        uiMsg.uiButtonSliders = 'black';\n        break;\n    case 'action_amber':\n        uiMsg.uiButtonBlack = 'black';\n        uiMsg.uiButtonBright = 'black';\n        uiMsg.uiButtonAmber = 'dimgrey';\n        uiMsg.uiButtonSliders = 'black';\n        break;\n    case 'action_sliders':\n        uiMsg.uiButtonBlack = 'black';\n        uiMsg.uiButtonBright = 'black';\n        uiMsg.uiButtonAmber = 'black';\n        uiMsg.uiButtonSliders = 'dimgrey';\n        break;\n    case 'effect_drops_on':\n        global.set('effect_drops', true); // store effects in flow.\n        return;\n    case 'effect_drops_off':\n        global.set('effect_drops', false);\n        return;\n    case 'effect_pulse_on':\n        global.set('effect_pulse', true);\n        return;\n    case 'effect_pulse_off':\n        global.set('effect_pulse', false);\n        return;\n    case 'effect_random_on':\n        global.set('effect_random', true);\n        return;\n    case 'effect_random_off':\n        global.set('effect_random', false);\n        return;\n    case 'effect_histogram_on':\n        global.set('effect_histogram', true);\n        return;\n    case 'effect_histogram_off':\n        global.set('effect_histogram', false);\n        return;\n    case 'effect_updown_on':\n        global.set('effect_updown', true);\n        return;\n    case 'effect_updown_off':\n        global.set('effect_updown', false);\n        return;\n}\n\nreturn [msg, uiMsg];\n","outputs":2,"noerr":0,"x":320,"y":480,"wires":[["462baedc.057db8"],["cfe3065f.4c3c88"]]},{"id":"9e2eca7e.b6bde8","type":"ui_gauge","z":"5fbc3ab3.de7abc","name":"","group":"7ad0ffbe.3cc6e","order":0,"width":"2","height":"2","gtype":"gage","title":"Sensor 1","label":"","format":"{{value | number:2}}","min":0,"max":10,"colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1020,"y":840,"wires":[]},{"id":"9e5a5f96.3160b8","type":"ui_gauge","z":"5fbc3ab3.de7abc","name":"","group":"7ad0ffbe.3cc6e","order":0,"width":"2","height":"2","gtype":"gage","title":"Sensor 2","label":"","format":"{{value | number:2}}","min":0,"max":10,"colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1020,"y":880,"wires":[]},{"id":"673297b0.5de488","type":"mqtt out","z":"5fbc3ab3.de7abc","name":"","topic":"temp/bh/sensor2","qos":"","retain":"","broker":"fda4837d.3442c8","x":530,"y":840,"wires":[]},{"id":"1caf5a01.f6c2e6","type":"mqtt in","z":"5fbc3ab3.de7abc","name":"","topic":"temp/bh/sensor2","qos":"0","broker":"fda4837d.3442c8","x":760,"y":840,"wires":[["9e5a5f96.3160b8"]]},{"id":"3836648f.25129c","type":"ui_gauge","z":"5fbc3ab3.de7abc","name":"","group":"3b13f037.fc2d28","order":0,"width":"2","height":"2","gtype":"gage","title":"tree/north1/0/ColdWhite","label":"","format":"{{value | number}}","min":0,"max":"255","colors":["#000000","#036567","#ccfcfd"],"seg1":"","seg2":"","x":670,"y":640,"wires":[]},{"id":"9b3696ca.c04c","type":"ui_gauge","z":"5fbc3ab3.de7abc","name":"","group":"3b13f037.fc2d28","order":0,"width":"2","height":"2","gtype":"gage","title":"tree/north1/0/WarmWhite","label":"","format":"{{value | number}}","min":0,"max":"255","colors":["#000000","#c67137","#e8c275"],"seg1":"","seg2":"","x":670,"y":680,"wires":[]},{"id":"a1da538f.d59bd","type":"function","z":"5fbc3ab3.de7abc","name":"MQTT Output formatting","func":"// Simple mqtt reformatting test\n// Returns an array of messages\nmsgArray = [];\n\nvar stripLength = 10;\n\nfor (var orientation in msg.led.tree) {\n    if (msg.led.tree.hasOwnProperty(orientation)) {\n        for (i = 0; i < stripLength; i++) {\n            newMsg = {};\n            newMsg.topic = \"tree/\" + orientation + \"/\" + i;\n            newMsg.payload = msg.led.tree[orientation][i];\n            msgArray.push(newMsg);\n        }\n    }\n}\n\n// node.warn(\"number of messages: \" + msgArray.length);\n\nfor (i = 0; i < msgArray.length; i++) {\n    node.send(msgArray[i]);\n}\n","outputs":1,"noerr":0,"x":1230,"y":440,"wires":[[]]},{"id":"6e33fd2f.f55acc","type":"mqtt out","z":"5fbc3ab3.de7abc","name":"LED Output","topic":"","qos":"","retain":"","broker":"fda4837d.3442c8","x":1450,"y":400,"wires":[]},{"id":"398007ee.450288","type":"mqtt in","z":"5fbc3ab3.de7abc","name":"","topic":"tree/north1/0","qos":"0","broker":"fda4837d.3442c8","x":110,"y":640,"wires":[["c71def35.ad754","398a1525.c318e2","635bb366.a78a0c"]]},{"id":"c71def35.ad754","type":"function","z":"5fbc3ab3.de7abc","name":"Extract Cold White Component","func":"msg.payload = JSON.parse(msg.payload)[0];\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":640,"wires":[["3836648f.25129c"]]},{"id":"398a1525.c318e2","type":"function","z":"5fbc3ab3.de7abc","name":"Extract Warm White Component","func":"msg.payload = JSON.parse(msg.payload)[1];\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":680,"wires":[["9b3696ca.c04c"]]},{"id":"879c07d2.69897","type":"inject","z":"5fbc3ab3.de7abc","name":"Start","topic":"","payload":"flow_start","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":90,"y":100,"wires":[["cf2eaf42.c3e758","16080312.da3cd5","e27dc886.5c93e"]]},{"id":"cf2eaf42.c3e758","type":"function","z":"5fbc3ab3.de7abc","name":"Global Vars and Functions","func":"// tests the audio api\n// does not work\nvar ctx;\ntry {\n    // Fix up for prefixing\n    window.AudioContext = window.AudioContext||window.webkitAudioContext;\n    ctx = new AudioContext();\n}\ncatch(e) {\n    node.warn('Web Audio API is not supported');\n}\n\n// set to true for production\nvar isProd = true;\n\n// TODO use settings.js to make the functions available\n\nvar orientations = [];\nif (isProd) {\n    orientations = [\n        \"north1\", \"north2\", \"north3\",\n        \"west1\", \"west2\", \"west3\",\n        \"south1\", \"south2\", \"south3\",\n        \"east1\", \"east2\", \"east3\"\n        ];\n    global.set('stripLength', 50);\n} else {\n    orientations = [\"north1\", \"west1\", \"south1\", \"east1\"];\n    global.set('stripLength', 20);\n}\nglobal.set('orientations', orientations);\n\nvar initLEDs = function(msg) {\n    \n    msg.led = {};\n    msg.led.tree = {};\n\n    msg.led_rgb = {};\n    msg.led_rgb.tree = {};\n    \n    msg.factors = {}; // contains the multiplier factors for each pixel (what is computed and updated in each node)\n    msg.factors.tree = {};\n    \n    // for (var orientation in orientations) { // does not work...\n    for (var i = 0; i < orientations.length; i++) {\n        // node.warn(\"orientation in orientations : \" + orientations[i]);\n        msg.led.tree[orientations[i]] = [];\n        msg.led_rgb.tree[orientations[i]] = [];\n        msg.factors.tree[orientations[i]] = [];\n        \n    }\n}\n\nglobal.set('f_initLEDs', initLEDs);\n\nvar mapToRange = function(num, out_min, out_max) { // from stackoverflow\n  var in_min = 0;\n  var in_max = 255;\n  return Math.floor((num - in_min) * (out_max - out_min) / (in_max - in_min) + out_min);\n};\n\nvar dec2Hex = function(d, padding) { // from stackoverflow decimalToHex\n    var hex = Number(d).toString(16);\n    padding = typeof (padding) === \"undefined\" || padding === null ? padding = 2 : padding;\n    while (hex.length < padding) {\n        hex = \"0\" + hex;\n    }\n    return hex;\n};\n\n/**\n * Returns a rgb hex representation of the intensity of a cold white led.\n * Performs a linear mapping of the range 0-255 to 3 different ranges (one for each component red, green, blue)\n */\nvar intensity2Rgb_coldWhite = function(intensity) {\n    var red = mapToRange(intensity, 0, 220);\n    var green = mapToRange(intensity, 0, 220);\n    var blue = mapToRange(intensity, 0, 255);\n    var ret = \"#\" + dec2Hex(red, 2) + dec2Hex(green, 2) + dec2Hex(blue, 2);\n    // node.warn(\"cold white : \" + ret);\n    return ret;\n};\n\nvar intensity2Rgb_warmWhite = function(intensity) {\n    var red = mapToRange(intensity, 0, 255);\n    var green = mapToRange(intensity, 0, 255);\n    var blue = mapToRange(intensity, 0, 200);\n    var ret = \"#\" + dec2Hex(red, 2) + dec2Hex(green, 2) + dec2Hex(blue, 2);\n    // node.warn(\"warm white : \" + ret);\n    return ret;\n};\n\nvar intensity2Rgb_amber = function(intensity) {\n    var red = mapToRange(intensity, 0, 255);\n    var green = mapToRange(intensity, 0, 100);\n    var blue = mapToRange(intensity, 0, 100);\n    var ret = \"#\" + dec2Hex(red, 2) + dec2Hex(green, 2) + dec2Hex(blue, 2);\n    // node.warn(\"amber : \" + ret);\n    return ret;\n};\n\nglobal.set('f_intensity2Rgb_coldWhite', intensity2Rgb_coldWhite);\nglobal.set('f_intensity2Rgb_warmWhite', intensity2Rgb_warmWhite);\nglobal.set('f_intensity2Rgb_amber', intensity2Rgb_amber);\n\nreturn null;","outputs":1,"noerr":0,"x":340,"y":100,"wires":[[]]},{"id":"f00c348c.ed283","type":"ui_gauge","z":"5fbc3ab3.de7abc","name":"","group":"3b13f037.fc2d28","order":0,"width":"2","height":"2","gtype":"gage","title":"tree/north1/0/Amber","label":"","format":"{{value | number}}","min":0,"max":"255","colors":["#000000","#c67137","#e8c275"],"seg1":"","seg2":"","x":660,"y":720,"wires":[]},{"id":"635bb366.a78a0c","type":"function","z":"5fbc3ab3.de7abc","name":"Extract Amber Component","func":"msg.payload = JSON.parse(msg.payload)[2];\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":720,"wires":[["f00c348c.ed283"]]},{"id":"9b290aff.e174f","type":"ui_slider","z":"5fbc3ab3.de7abc","name":"","label":"Cold White","group":"f288ab81.8e1de8","order":5,"width":0,"height":0,"passthru":true,"topic":"slider_coldWhite","min":0,"max":"255","step":1,"x":490,"y":300,"wires":[["17ea8b54.60a58d","cfe3065f.4c3c88"]]},{"id":"874b8f3.8433d7","type":"ui_slider","z":"5fbc3ab3.de7abc","name":"","label":"Warm White","group":"f288ab81.8e1de8","order":6,"width":0,"height":0,"passthru":true,"topic":"slider_warmWhite","min":0,"max":"255","step":1,"x":490,"y":340,"wires":[["17ea8b54.60a58d","cfe3065f.4c3c88"]]},{"id":"a0d00e3b.268398","type":"ui_slider","z":"5fbc3ab3.de7abc","name":"","label":"Amber","group":"f288ab81.8e1de8","order":7,"width":0,"height":0,"passthru":true,"topic":"slider_amber","min":0,"max":"255","step":1,"x":510,"y":380,"wires":[["17ea8b54.60a58d","cfe3065f.4c3c88"]]},{"id":"f3cc502f.b0e73","type":"ui_button","z":"5fbc3ab3.de7abc","name":"","group":"f288ab81.8e1de8","order":4,"width":0,"height":0,"passthru":false,"label":"Sliders","color":"","bgcolor":"{{msg.uiButtonSliders}}","icon":"","payload":"action_sliders","payloadType":"str","topic":"","x":90,"y":340,"wires":[["cd9cfbd3.3fa39"]]},{"id":"59cba279.414f5c","type":"ui_switch","z":"5fbc3ab3.de7abc","name":"","label":"Pulse","group":"f288ab81.8e1de8","order":8,"width":0,"height":0,"passthru":false,"decouple":"false","topic":"","style":"","onvalue":"effect_pulse_on","onvalueType":"str","onicon":"","oncolor":"","offvalue":"effect_pulse_off","offvalueType":"str","officon":"","offcolor":"","x":90,"y":420,"wires":[["cd9cfbd3.3fa39"]]},{"id":"f7a3e1dc.70da88","type":"ui_switch","z":"5fbc3ab3.de7abc","name":"","label":"Drops","group":"f288ab81.8e1de8","order":9,"width":0,"height":0,"passthru":false,"decouple":"false","topic":"","style":"","onvalue":"effect_drops_on","onvalueType":"str","onicon":"","oncolor":"","offvalue":"effect_drops_off","offvalueType":"str","officon":"","offcolor":"","x":90,"y":380,"wires":[["cd9cfbd3.3fa39"]]},{"id":"cfe3065f.4c3c88","type":"function","z":"5fbc3ab3.de7abc","name":"UI Control","func":"/**\n * Controls the UI status during flow execution.\n */\n\n// handling sliders move...\nif ((msg.topic === 'slider_coldWhite') || (msg.topic === 'slider_warmWhite') || (msg.topic === 'slider_amber')) {\n    msg.uiButtonBlack = 'black';\n    msg.uiButtonBright = 'black';\n    msg.uiButtonAmber = 'black';\n    msg.uiButtonSliders = 'dimgrey';\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":280,"y":160,"wires":[["7725999d.db3a7","f7f8b550.13a2e8","f3cc502f.b0e73","905eab6d.e8c84"]]},{"id":"17ea8b54.60a58d","type":"function","z":"5fbc3ab3.de7abc","name":"IN - Base Intensity","func":"/**\n * Sets up the base intensity for the leds.\n * Also initializes the multiplying factors that will be used in the following nodes.\n * Sends a message only if the input msg satisfies the following condition : msg.payload === 'refresh' to avoid refreshing when the sliders are moved.\n */\n\nvar stripLength = global.get('stripLength');\nvar orientations = global.get('orientations');\n\n// Getting the slider values when they are changed...\nif (msg.topic === 'slider_coldWhite') { // TODO define the test more precisely, not c style...\n    context.set('coldWhite', msg.payload);\n}\nif (msg.topic === 'slider_warmWhite') { // TODO define the test more precisely, not c style...\n    context.set('warmWhite', msg.payload);\n}\nif (msg.topic === 'slider_amber') { // TODO define the test more precisely, not c style...\n    context.set('amber', msg.payload);\n}\n\n// the LED refresh loop\nif (msg.payload === 'refresh') {\n    var initLEDs = global.get('f_initLEDs');\n    initLEDs(msg);\n    \n    var coldI = context.get('coldWhite');\n    var warmI = context.get('warmWhite');\n    var amberI = context.get('amber');\n    \n    var orientation;\n    for (var j = 0; j < orientations.length; j++) {\n        orientation = orientations[j];\n        for (i = 0; i < stripLength; i++) {\n            msg.led.tree[orientation][i] = [coldI, warmI, amberI];\n            msg.factors.tree[orientation][i] = [1.0, 1.0, 1.0];\n        }\n    }\n}\n\n// node.warn(\"IN - msg.factors.tree['north1'][0] : \" + msg.factors.tree['north1'][0]);\n\nreturn msg;","outputs":1,"noerr":0,"x":850,"y":200,"wires":[["fe44cbc4.5edff8"]]},{"id":"fe44cbc4.5edff8","type":"function","z":"5fbc3ab3.de7abc","name":"Pulse","func":"if (global.get('effect_pulse')) {\n    var stripLength = global.get('stripLength');\n    var orientations = global.get('orientations');\n\n    var step = 0.1;\n    \n    var isUp = context.get('isUp')||false; // if the intensity is going up\n    var factor = context.get('factor')||1.0; // the current factor\n    \n    isUp = (isUp) ? (factor + step) < 1.0 : (factor - step) < 0.0;\n    factor = (isUp) ? factor + step : factor - step;\n    context.set('isUp', isUp);\n    context.set('factor', factor);\n    \n    var orientation;\n    for (var j = 0; j < orientations.length; j++) {\n        orientation = orientations[j];\n        for (var i = 0; i < stripLength; i++) {\n            msg.factors.tree[orientation][i] = \n                [factor * msg.factors.tree[orientation][i][0], \n                factor * msg.factors.tree[orientation][i][1], \n                factor * msg.factors.tree[orientation][i][2]];\n        }\n    }\n}\n\n// node.warn(\"Flash - msg.factors.tree['north1'][0] : \" + msg.factors.tree['north1'][0]);\n\nreturn msg;","outputs":1,"noerr":0,"x":910,"y":240,"wires":[["4a9270a7.849a3"]]},{"id":"4a9270a7.849a3","type":"function","z":"5fbc3ab3.de7abc","name":"Random","func":"/**\n * Produces random noise.\n */\nif (global.get('effect_random')) {\n    // node.warn('Random effect');\n    var stripLength = global.get('stripLength');\n    var orientations = global.get('orientations');\n    \n    var factor = 1.0;\n    \n    var orientation;\n    for (var j = 0; j < orientations.length; j++) {\n        orientation = orientations[j];\n        for (var i = 0; i < stripLength; i++) {\n            factor = Math.random();\n            msg.factors.tree[orientation][i] = \n                [factor * msg.factors.tree[orientation][i][0], \n                factor * msg.factors.tree[orientation][i][1], \n                factor * msg.factors.tree[orientation][i][2]];\n        }\n    }\n}\n\n// node.warn(\"Random - msg.factors.tree['north1'][0] : \" + msg.factors.tree['north1'][0]);\n\nreturn msg;","outputs":1,"noerr":0,"x":920,"y":280,"wires":[["4135b13d.64c628"]]},{"id":"58969fce.cc187","type":"ui_switch","z":"5fbc3ab3.de7abc","name":"","label":"Histogram","group":"f288ab81.8e1de8","order":10,"width":0,"height":0,"passthru":false,"decouple":"false","topic":"","style":"","onvalue":"effect_histogram_on","onvalueType":"str","onicon":"","oncolor":"","offvalue":"effect_histogram_off","offvalueType":"str","officon":"","offcolor":"","x":110,"y":460,"wires":[["cd9cfbd3.3fa39"]]},{"id":"5f2cd680.0b856","type":"ui_switch","z":"5fbc3ab3.de7abc","name":"","label":"Random","group":"f288ab81.8e1de8","order":11,"width":0,"height":0,"passthru":false,"decouple":"false","topic":"","style":"","onvalue":"effect_random_on","onvalueType":"str","onicon":"","oncolor":"","offvalue":"effect_random_off","offvalueType":"str","officon":"","offcolor":"","x":100,"y":500,"wires":[["cd9cfbd3.3fa39"]]},{"id":"4135b13d.64c628","type":"function","z":"5fbc3ab3.de7abc","name":"Histogram","func":"/**\n * Creates a sort of histogram effect.\n */\nif (global.get('effect_histogram')) {\n\n    var stripLength = global.get('stripLength');\n    var orientations = global.get('orientations');\n    \n    var maxes = context.get('maxes')||[];\n    var isUp = context.get('isUp')||[];\n    var newIsUp = [];\n    // initializing the maxes\n    if (maxes['north1'] === undefined) { // test maxes.length does not work\n        // node.warn('maxes[north1] is undefined');\n        for (var orientation in msg.led.tree) {\n            if (msg.led.tree.hasOwnProperty(orientation)) {\n                isUp[orientation] = true;\n                maxes[orientation] = 0;\n            }\n        }\n    }\n    \n    var factor = 0.0;\n    var orientation;\n    for (var j = 0; j < orientations.length; j++) {\n        orientation = orientations[j];\n        newIsUp[orientation] = isUp[orientation] ? (Math.random() > 0.1) : (Math.random() > 0.9);\n        delta = (newIsUp[orientation]) ? 1 : -1;\n        // node.warn('max before : ' + maxes[orientation]);\n        maxes[orientation] = (delta > 0) ? Math.min(stripLength - 1, maxes[orientation] + delta) : Math.max(0, maxes[orientation] + delta);\n        // node.warn('max : ' + maxes[orientation] + ' ; delta : ' + delta);\n        for (var i = 0; i < stripLength; i++) {\n            factor = (i < maxes[orientation]) ? 1.0 : 0.0;\n            msg.factors.tree[orientation][i] = \n                [factor * msg.factors.tree[orientation][i][0], \n                factor * msg.factors.tree[orientation][i][1], \n                factor * msg.factors.tree[orientation][i][2]];\n        }\n    }\n    context.set('isUp', newIsUp);\n    context.set('maxes', maxes);\n}\n\n// node.warn(\"Histogram - msg.factors.tree['north1'][0] : \" + msg.factors.tree['north1'][0]);\n\nreturn msg;","outputs":1,"noerr":0,"x":930,"y":320,"wires":[["c3536b58.087738"]]},{"id":"a30e89ee.d250d8","type":"inject","z":"5fbc3ab3.de7abc","name":"Stop","topic":"","payload":"stop","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":470,"y":140,"wires":[["2bb25a06.a2ba8e"]]},{"id":"2bb25a06.a2ba8e","type":"function","z":"5fbc3ab3.de7abc","name":"Stop","func":"msg.reset = true;\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":140,"wires":[["16080312.da3cd5"]]},{"id":"3d306d7.189b292","type":"function","z":"5fbc3ab3.de7abc","name":"OUT - Values Normalization","func":"/**\n * Normalizes the factors (not implemented !)\n * Computes the intensity values to be sent to the leds \n * Computes the rgb values for visualization.\n */\n\nvar stripLength = global.get('stripLength');\nvar orientations = global.get('orientations');\n\nvar intensity2Rgb_coldWhite = global.get('f_intensity2Rgb_coldWhite');\nvar intensity2Rgb_warmWhite = global.get('f_intensity2Rgb_warmWhite');\nvar intensity2Rgb_amber = global.get('f_intensity2Rgb_amber');\n\nvar coldRgb = 0;\nvar warmRgb = 0;\nvar amberRgb = 0;\nvar col = 0;\n\nvar orientation;\nfor (var j = 0; j < orientations.length; j++) {\n    orientation = orientations[j];\n    for (i = 0; i < stripLength; i++) {\n        msg.led.tree[orientation][i][0] = Math.floor(msg.factors.tree[orientation][i][0] * msg.led.tree[orientation][i][0]);\n        msg.led.tree[orientation][i][1] = Math.floor(msg.factors.tree[orientation][i][1] * msg.led.tree[orientation][i][1]);\n        msg.led.tree[orientation][i][2] = Math.floor(msg.factors.tree[orientation][i][2] * msg.led.tree[orientation][i][2]);\n        coldRgb = intensity2Rgb_coldWhite(msg.led.tree[orientation][i][0]);\n        warmRgb = intensity2Rgb_warmWhite(msg.led.tree[orientation][i][1]);\n        amberRgb = intensity2Rgb_amber(msg.led.tree[orientation][i][2]);\n        msg.led_rgb.tree[orientation][stripLength - i - 1] = [coldRgb, warmRgb, amberRgb]; // inversion for display\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":920,"y":440,"wires":[["a1da538f.d59bd","3fc6c631.a402da"]]},{"id":"99dbf359.7c7298","type":"inject","z":"5fbc3ab3.de7abc","name":"Restart","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":470,"y":200,"wires":[["16080312.da3cd5"]]},{"id":"905eab6d.e8c84","type":"ui_button","z":"5fbc3ab3.de7abc","name":"","group":"f288ab81.8e1de8","order":3,"width":0,"height":0,"passthru":false,"label":"Amber","color":"","bgcolor":"{{msg.uiButtonAmber}}","icon":"","payload":"action_amber","payloadType":"str","topic":"","x":90,"y":300,"wires":[["cd9cfbd3.3fa39"]]},{"id":"e27dc886.5c93e","type":"function","z":"5fbc3ab3.de7abc","name":"UI Init","func":"/**\n * Controls the UI status.\n */\n\nif (msg.payload === 'flow_start') { // if this is the workflow startup, defines the default values\n    msg.payload = 'action_black';\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":90,"y":160,"wires":[["cd9cfbd3.3fa39"]]},{"id":"72c239c3.71444","type":"ui_switch","z":"5fbc3ab3.de7abc","name":"","label":"Up is down","group":"f288ab81.8e1de8","order":11,"width":0,"height":0,"passthru":false,"decouple":"false","topic":"","style":"","onvalue":"effect_updown_on","onvalueType":"str","onicon":"","oncolor":"","offvalue":"effect_updown_off","offvalueType":"str","officon":"","offcolor":"","x":110,"y":540,"wires":[["cd9cfbd3.3fa39"]]},{"id":"37d1603e.163ab","type":"function","z":"5fbc3ab3.de7abc","name":"Up Is Down","func":"if (global.get('effect_updown')) {\n    var stripLength = global.get('stripLength');\n    var orientations = global.get('orientations');\n    \n    var tmpFactors = [0.0, 0.0, 0.0];\n    var orientation;\n    for (var j = 0; j < orientations.length; j++) {\n        orientation = orientations[j];\n        for (var i = 0; i < (stripLength / 2); i++) {\n            tmpFactors = msg.factors.tree[orientation][i];\n            msg.factors.tree[orientation][i] = msg.factors.tree[orientation][stripLength - i - 1];\n            msg.factors.tree[orientation][stripLength - i - 1] = tmpFactors;\n        }\n    }\n}\n\n// node.warn(\"Drops - msg.factors.tree['north1'][0] : \" + msg.factors.tree['north1'][0]);\n\nreturn msg;","outputs":1,"noerr":0,"x":970,"y":400,"wires":[["3d306d7.189b292"]]},{"id":"3fc6c631.a402da","type":"ui_template","z":"5fbc3ab3.de7abc","group":"f513cde4.73315","name":"LED Preview Large Hard-Coded","order":1,"width":"6","height":"7","format":"<style>\n\n.container {\n    text-align: center;\n}\n\n.h-rect {\n    float: left;\n    background-color: #111111;\n    padding: 2px;\n}\n\n.v-rect {\n    float: left;\n    padding: 2px;\n    margin: 2px;\n    background-color: #222222;\n    border-color: black;\n    border: 1px;\n    border-radius: 2px;\n}\n\n.pix {\n    padding: 1px;\n    margin: 0px;\n}\n\n.led {\n    width: 8px;\n    height: 1px;\n    margin: 0px;\n    font-size: 0px;\n}\n\n</style>\n\n<script>\n    // apparently, it is not necessary to cache elements, the browser does it for us (50ms to refresh style, with or without cache)\n    if (elementMatrix == undefined) {\n        var elementMatrix = {}; // define the matrix of precomputed elements\n        elementMatrix.led_rgb = {};\n        elementMatrix.led_rgb.tree = {};\n    }\n\n    console.dir(scope);\n    ;(function(scope) {\n        scope.$watch('msg', function(msg) {\n            if (msg) {\n                // console.dir(elementMatrix);\n                if (elementMatrix.led_rgb.tree['north1'] == undefined) {\n                    console.log(\"creating elementMatrix cache\");\n                    for (var key in msg.led_rgb.tree) {\n                        elementMatrix.led_rgb.tree[key] = [];\n                        var stripLength = msg.led_rgb.tree[key].length;\n    \t\t\t\t    for (var i = 0; i < stripLength; i++) {\n    \t\t\t\t        elementMatrix.led_rgb.tree[key][i]  = [];\n    \t\t\t\t        elementMatrix.led_rgb.tree[key][i][0] = document.getElementById(\"led-\" + key + \"-\" + i + \"-\" + \"0\");\n    \t\t\t\t        elementMatrix.led_rgb.tree[key][i][1] = document.getElementById(\"led-\" + key + \"-\" + i + \"-\" + \"1\");\n    \t\t\t\t        elementMatrix.led_rgb.tree[key][i][2] = document.getElementById(\"led-\" + key + \"-\" + i + \"-\" + \"2\");\n    \t\t\t\t    }\n                    }\n                }\n                // console.dir(elementMatrix);\n                for (var key in msg.led_rgb.tree) {\n                    var stripLength = msg.led_rgb.tree[key].length;\n    \t\t\t\tfor (var i = 0; i < stripLength; i++) {\n    \t\t\t\t    elementMatrix.led_rgb.tree[key][i][0].style.backgroundColor = msg.led_rgb.tree[key][i][0];\n    \t\t\t\t    elementMatrix.led_rgb.tree[key][i][1].style.backgroundColor = msg.led_rgb.tree[key][i][1];\n    \t\t\t\t    elementMatrix.led_rgb.tree[key][i][2].style.backgroundColor = msg.led_rgb.tree[key][i][2];\n    \t\t\t\t}\n\t\t\t    }\n            }\n        })\n    })(scope);\n</script>\n\n<div class='container'><div class='h-rect'><div class='v-rect'><div class='pix'><div class='led' id='led-north1-0-0'> </div><div class='led' id='led-north1-0-1'> </div><div class='led' id='led-north1-0-2'> </div></div> <div class='pix'><div class='led' id='led-north1-1-0'> </div><div class='led' id='led-north1-1-1'> </div><div class='led' id='led-north1-1-2'> </div></div> <div class='pix'><div class='led' id='led-north1-2-0'> </div><div class='led' id='led-north1-2-1'> </div><div class='led' id='led-north1-2-2'> </div></div> <div class='pix'><div class='led' id='led-north1-3-0'> </div><div class='led' id='led-north1-3-1'> </div><div class='led' id='led-north1-3-2'> </div></div> <div class='pix'><div class='led' id='led-north1-4-0'> </div><div class='led' id='led-north1-4-1'> </div><div class='led' id='led-north1-4-2'> </div></div> <div class='pix'><div class='led' id='led-north1-5-0'> </div><div class='led' id='led-north1-5-1'> </div><div class='led' id='led-north1-5-2'> </div></div> <div class='pix'><div class='led' id='led-north1-6-0'> </div><div class='led' id='led-north1-6-1'> </div><div class='led' id='led-north1-6-2'> </div></div> <div class='pix'><div class='led' id='led-north1-7-0'> </div><div class='led' id='led-north1-7-1'> </div><div class='led' id='led-north1-7-2'> </div></div> <div class='pix'><div class='led' id='led-north1-8-0'> </div><div class='led' id='led-north1-8-1'> </div><div class='led' id='led-north1-8-2'> </div></div> <div class='pix'><div class='led' id='led-north1-9-0'> </div><div class='led' id='led-north1-9-1'> </div><div class='led' id='led-north1-9-2'> </div></div> <div class='pix'><div class='led' id='led-north1-10-0'> </div><div class='led' id='led-north1-10-1'> </div><div class='led' id='led-north1-10-2'> </div></div> <div class='pix'><div class='led' id='led-north1-11-0'> </div><div class='led' id='led-north1-11-1'> </div><div class='led' id='led-north1-11-2'> </div></div> <div class='pix'><div class='led' id='led-north1-12-0'> </div><div class='led' id='led-north1-12-1'> </div><div class='led' id='led-north1-12-2'> </div></div> <div class='pix'><div class='led' id='led-north1-13-0'> </div><div class='led' id='led-north1-13-1'> </div><div class='led' id='led-north1-13-2'> </div></div> <div class='pix'><div class='led' id='led-north1-14-0'> </div><div class='led' id='led-north1-14-1'> </div><div class='led' id='led-north1-14-2'> </div></div> <div class='pix'><div class='led' id='led-north1-15-0'> </div><div class='led' id='led-north1-15-1'> </div><div class='led' id='led-north1-15-2'> </div></div> <div class='pix'><div class='led' id='led-north1-16-0'> </div><div class='led' id='led-north1-16-1'> </div><div class='led' id='led-north1-16-2'> </div></div> <div class='pix'><div class='led' id='led-north1-17-0'> </div><div class='led' id='led-north1-17-1'> </div><div class='led' id='led-north1-17-2'> </div></div> <div class='pix'><div class='led' id='led-north1-18-0'> </div><div class='led' id='led-north1-18-1'> </div><div class='led' id='led-north1-18-2'> </div></div> <div class='pix'><div class='led' id='led-north1-19-0'> </div><div class='led' id='led-north1-19-1'> </div><div class='led' id='led-north1-19-2'> </div></div> <div class='pix'><div class='led' id='led-north1-20-0'> </div><div class='led' id='led-north1-20-1'> </div><div class='led' id='led-north1-20-2'> </div></div> <div class='pix'><div class='led' id='led-north1-21-0'> </div><div class='led' id='led-north1-21-1'> </div><div class='led' id='led-north1-21-2'> </div></div> <div class='pix'><div class='led' id='led-north1-22-0'> </div><div class='led' id='led-north1-22-1'> </div><div class='led' id='led-north1-22-2'> </div></div> <div class='pix'><div class='led' id='led-north1-23-0'> </div><div class='led' id='led-north1-23-1'> </div><div class='led' id='led-north1-23-2'> </div></div> <div class='pix'><div class='led' id='led-north1-24-0'> </div><div class='led' id='led-north1-24-1'> </div><div class='led' id='led-north1-24-2'> </div></div> <div class='pix'><div class='led' id='led-north1-25-0'> </div><div class='led' id='led-north1-25-1'> </div><div class='led' id='led-north1-25-2'> </div></div> <div class='pix'><div class='led' id='led-north1-26-0'> </div><div class='led' id='led-north1-26-1'> </div><div class='led' id='led-north1-26-2'> </div></div> <div class='pix'><div class='led' id='led-north1-27-0'> </div><div class='led' id='led-north1-27-1'> </div><div class='led' id='led-north1-27-2'> </div></div> <div class='pix'><div class='led' id='led-north1-28-0'> </div><div class='led' id='led-north1-28-1'> </div><div class='led' id='led-north1-28-2'> </div></div> <div class='pix'><div class='led' id='led-north1-29-0'> </div><div class='led' id='led-north1-29-1'> </div><div class='led' id='led-north1-29-2'> </div></div> <div class='pix'><div class='led' id='led-north1-30-0'> </div><div class='led' id='led-north1-30-1'> </div><div class='led' id='led-north1-30-2'> </div></div> <div class='pix'><div class='led' id='led-north1-31-0'> </div><div class='led' id='led-north1-31-1'> </div><div class='led' id='led-north1-31-2'> </div></div> <div class='pix'><div class='led' id='led-north1-32-0'> </div><div class='led' id='led-north1-32-1'> </div><div class='led' id='led-north1-32-2'> </div></div> <div class='pix'><div class='led' id='led-north1-33-0'> </div><div class='led' id='led-north1-33-1'> </div><div class='led' id='led-north1-33-2'> </div></div> <div class='pix'><div class='led' id='led-north1-34-0'> </div><div class='led' id='led-north1-34-1'> </div><div class='led' id='led-north1-34-2'> </div></div> <div class='pix'><div class='led' id='led-north1-35-0'> </div><div class='led' id='led-north1-35-1'> </div><div class='led' id='led-north1-35-2'> </div></div> <div class='pix'><div class='led' id='led-north1-36-0'> </div><div class='led' id='led-north1-36-1'> </div><div class='led' id='led-north1-36-2'> </div></div> <div class='pix'><div class='led' id='led-north1-37-0'> </div><div class='led' id='led-north1-37-1'> </div><div class='led' id='led-north1-37-2'> </div></div> <div class='pix'><div class='led' id='led-north1-38-0'> </div><div class='led' id='led-north1-38-1'> </div><div class='led' id='led-north1-38-2'> </div></div> <div class='pix'><div class='led' id='led-north1-39-0'> </div><div class='led' id='led-north1-39-1'> </div><div class='led' id='led-north1-39-2'> </div></div> <div class='pix'><div class='led' id='led-north1-40-0'> </div><div class='led' id='led-north1-40-1'> </div><div class='led' id='led-north1-40-2'> </div></div> <div class='pix'><div class='led' id='led-north1-41-0'> </div><div class='led' id='led-north1-41-1'> </div><div class='led' id='led-north1-41-2'> </div></div> <div class='pix'><div class='led' id='led-north1-42-0'> </div><div class='led' id='led-north1-42-1'> </div><div class='led' id='led-north1-42-2'> </div></div> <div class='pix'><div class='led' id='led-north1-43-0'> </div><div class='led' id='led-north1-43-1'> </div><div class='led' id='led-north1-43-2'> </div></div> <div class='pix'><div class='led' id='led-north1-44-0'> </div><div class='led' id='led-north1-44-1'> </div><div class='led' id='led-north1-44-2'> </div></div> <div class='pix'><div class='led' id='led-north1-45-0'> </div><div class='led' id='led-north1-45-1'> </div><div class='led' id='led-north1-45-2'> </div></div> <div class='pix'><div class='led' id='led-north1-46-0'> </div><div class='led' id='led-north1-46-1'> </div><div class='led' id='led-north1-46-2'> </div></div> <div class='pix'><div class='led' id='led-north1-47-0'> </div><div class='led' id='led-north1-47-1'> </div><div class='led' id='led-north1-47-2'> </div></div> <div class='pix'><div class='led' id='led-north1-48-0'> </div><div class='led' id='led-north1-48-1'> </div><div class='led' id='led-north1-48-2'> </div></div> <div class='pix'><div class='led' id='led-north1-49-0'> </div><div class='led' id='led-north1-49-1'> </div><div class='led' id='led-north1-49-2'> </div></div> </div><div class='v-rect'><div class='pix'><div class='led' id='led-north2-0-0'> </div><div class='led' id='led-north2-0-1'> </div><div class='led' id='led-north2-0-2'> </div></div> <div class='pix'><div class='led' id='led-north2-1-0'> </div><div class='led' id='led-north2-1-1'> </div><div class='led' id='led-north2-1-2'> </div></div> <div class='pix'><div class='led' id='led-north2-2-0'> </div><div class='led' id='led-north2-2-1'> </div><div class='led' id='led-north2-2-2'> </div></div> <div class='pix'><div class='led' id='led-north2-3-0'> </div><div class='led' id='led-north2-3-1'> </div><div class='led' id='led-north2-3-2'> </div></div> <div class='pix'><div class='led' id='led-north2-4-0'> </div><div class='led' id='led-north2-4-1'> </div><div class='led' id='led-north2-4-2'> </div></div> <div class='pix'><div class='led' id='led-north2-5-0'> </div><div class='led' id='led-north2-5-1'> </div><div class='led' id='led-north2-5-2'> </div></div> <div class='pix'><div class='led' id='led-north2-6-0'> </div><div class='led' id='led-north2-6-1'> </div><div class='led' id='led-north2-6-2'> </div></div> <div class='pix'><div class='led' id='led-north2-7-0'> </div><div class='led' id='led-north2-7-1'> </div><div class='led' id='led-north2-7-2'> </div></div> <div class='pix'><div class='led' id='led-north2-8-0'> </div><div class='led' id='led-north2-8-1'> </div><div class='led' id='led-north2-8-2'> </div></div> <div class='pix'><div class='led' id='led-north2-9-0'> </div><div class='led' id='led-north2-9-1'> </div><div class='led' id='led-north2-9-2'> </div></div> <div class='pix'><div class='led' id='led-north2-10-0'> </div><div class='led' id='led-north2-10-1'> </div><div class='led' id='led-north2-10-2'> </div></div> <div class='pix'><div class='led' id='led-north2-11-0'> </div><div class='led' id='led-north2-11-1'> </div><div class='led' id='led-north2-11-2'> </div></div> <div class='pix'><div class='led' id='led-north2-12-0'> </div><div class='led' id='led-north2-12-1'> </div><div class='led' id='led-north2-12-2'> </div></div> <div class='pix'><div class='led' id='led-north2-13-0'> </div><div class='led' id='led-north2-13-1'> </div><div class='led' id='led-north2-13-2'> </div></div> <div class='pix'><div class='led' id='led-north2-14-0'> </div><div class='led' id='led-north2-14-1'> </div><div class='led' id='led-north2-14-2'> </div></div> <div class='pix'><div class='led' id='led-north2-15-0'> </div><div class='led' id='led-north2-15-1'> </div><div class='led' id='led-north2-15-2'> </div></div> <div class='pix'><div class='led' id='led-north2-16-0'> </div><div class='led' id='led-north2-16-1'> </div><div class='led' id='led-north2-16-2'> </div></div> <div class='pix'><div class='led' id='led-north2-17-0'> </div><div class='led' id='led-north2-17-1'> </div><div class='led' id='led-north2-17-2'> </div></div> <div class='pix'><div class='led' id='led-north2-18-0'> </div><div class='led' id='led-north2-18-1'> </div><div class='led' id='led-north2-18-2'> </div></div> <div class='pix'><div class='led' id='led-north2-19-0'> </div><div class='led' id='led-north2-19-1'> </div><div class='led' id='led-north2-19-2'> </div></div> <div class='pix'><div class='led' id='led-north2-20-0'> </div><div class='led' id='led-north2-20-1'> </div><div class='led' id='led-north2-20-2'> </div></div> <div class='pix'><div class='led' id='led-north2-21-0'> </div><div class='led' id='led-north2-21-1'> </div><div class='led' id='led-north2-21-2'> </div></div> <div class='pix'><div class='led' id='led-north2-22-0'> </div><div class='led' id='led-north2-22-1'> </div><div class='led' id='led-north2-22-2'> </div></div> <div class='pix'><div class='led' id='led-north2-23-0'> </div><div class='led' id='led-north2-23-1'> </div><div class='led' id='led-north2-23-2'> </div></div> <div class='pix'><div class='led' id='led-north2-24-0'> </div><div class='led' id='led-north2-24-1'> </div><div class='led' id='led-north2-24-2'> </div></div> <div class='pix'><div class='led' id='led-north2-25-0'> </div><div class='led' id='led-north2-25-1'> </div><div class='led' id='led-north2-25-2'> </div></div> <div class='pix'><div class='led' id='led-north2-26-0'> </div><div class='led' id='led-north2-26-1'> </div><div class='led' id='led-north2-26-2'> </div></div> <div class='pix'><div class='led' id='led-north2-27-0'> </div><div class='led' id='led-north2-27-1'> </div><div class='led' id='led-north2-27-2'> </div></div> <div class='pix'><div class='led' id='led-north2-28-0'> </div><div class='led' id='led-north2-28-1'> </div><div class='led' id='led-north2-28-2'> </div></div> <div class='pix'><div class='led' id='led-north2-29-0'> </div><div class='led' id='led-north2-29-1'> </div><div class='led' id='led-north2-29-2'> </div></div> <div class='pix'><div class='led' id='led-north2-30-0'> </div><div class='led' id='led-north2-30-1'> </div><div class='led' id='led-north2-30-2'> </div></div> <div class='pix'><div class='led' id='led-north2-31-0'> </div><div class='led' id='led-north2-31-1'> </div><div class='led' id='led-north2-31-2'> </div></div> <div class='pix'><div class='led' id='led-north2-32-0'> </div><div class='led' id='led-north2-32-1'> </div><div class='led' id='led-north2-32-2'> </div></div> <div class='pix'><div class='led' id='led-north2-33-0'> </div><div class='led' id='led-north2-33-1'> </div><div class='led' id='led-north2-33-2'> </div></div> <div class='pix'><div class='led' id='led-north2-34-0'> </div><div class='led' id='led-north2-34-1'> </div><div class='led' id='led-north2-34-2'> </div></div> <div class='pix'><div class='led' id='led-north2-35-0'> </div><div class='led' id='led-north2-35-1'> </div><div class='led' id='led-north2-35-2'> </div></div> <div class='pix'><div class='led' id='led-north2-36-0'> </div><div class='led' id='led-north2-36-1'> </div><div class='led' id='led-north2-36-2'> </div></div> <div class='pix'><div class='led' id='led-north2-37-0'> </div><div class='led' id='led-north2-37-1'> </div><div class='led' id='led-north2-37-2'> </div></div> <div class='pix'><div class='led' id='led-north2-38-0'> </div><div class='led' id='led-north2-38-1'> </div><div class='led' id='led-north2-38-2'> </div></div> <div class='pix'><div class='led' id='led-north2-39-0'> </div><div class='led' id='led-north2-39-1'> </div><div class='led' id='led-north2-39-2'> </div></div> <div class='pix'><div class='led' id='led-north2-40-0'> </div><div class='led' id='led-north2-40-1'> </div><div class='led' id='led-north2-40-2'> </div></div> <div class='pix'><div class='led' id='led-north2-41-0'> </div><div class='led' id='led-north2-41-1'> </div><div class='led' id='led-north2-41-2'> </div></div> <div class='pix'><div class='led' id='led-north2-42-0'> </div><div class='led' id='led-north2-42-1'> </div><div class='led' id='led-north2-42-2'> </div></div> <div class='pix'><div class='led' id='led-north2-43-0'> </div><div class='led' id='led-north2-43-1'> </div><div class='led' id='led-north2-43-2'> </div></div> <div class='pix'><div class='led' id='led-north2-44-0'> </div><div class='led' id='led-north2-44-1'> </div><div class='led' id='led-north2-44-2'> </div></div> <div class='pix'><div class='led' id='led-north2-45-0'> </div><div class='led' id='led-north2-45-1'> </div><div class='led' id='led-north2-45-2'> </div></div> <div class='pix'><div class='led' id='led-north2-46-0'> </div><div class='led' id='led-north2-46-1'> </div><div class='led' id='led-north2-46-2'> </div></div> <div class='pix'><div class='led' id='led-north2-47-0'> </div><div class='led' id='led-north2-47-1'> </div><div class='led' id='led-north2-47-2'> </div></div> <div class='pix'><div class='led' id='led-north2-48-0'> </div><div class='led' id='led-north2-48-1'> </div><div class='led' id='led-north2-48-2'> </div></div> <div class='pix'><div class='led' id='led-north2-49-0'> </div><div class='led' id='led-north2-49-1'> </div><div class='led' id='led-north2-49-2'> </div></div> </div><div class='v-rect'><div class='pix'><div class='led' id='led-north3-0-0'> </div><div class='led' id='led-north3-0-1'> </div><div class='led' id='led-north3-0-2'> </div></div> <div class='pix'><div class='led' id='led-north3-1-0'> </div><div class='led' id='led-north3-1-1'> </div><div class='led' id='led-north3-1-2'> </div></div> <div class='pix'><div class='led' id='led-north3-2-0'> </div><div class='led' id='led-north3-2-1'> </div><div class='led' id='led-north3-2-2'> </div></div> <div class='pix'><div class='led' id='led-north3-3-0'> </div><div class='led' id='led-north3-3-1'> </div><div class='led' id='led-north3-3-2'> </div></div> <div class='pix'><div class='led' id='led-north3-4-0'> </div><div class='led' id='led-north3-4-1'> </div><div class='led' id='led-north3-4-2'> </div></div> <div class='pix'><div class='led' id='led-north3-5-0'> </div><div class='led' id='led-north3-5-1'> </div><div class='led' id='led-north3-5-2'> </div></div> <div class='pix'><div class='led' id='led-north3-6-0'> </div><div class='led' id='led-north3-6-1'> </div><div class='led' id='led-north3-6-2'> </div></div> <div class='pix'><div class='led' id='led-north3-7-0'> </div><div class='led' id='led-north3-7-1'> </div><div class='led' id='led-north3-7-2'> </div></div> <div class='pix'><div class='led' id='led-north3-8-0'> </div><div class='led' id='led-north3-8-1'> </div><div class='led' id='led-north3-8-2'> </div></div> <div class='pix'><div class='led' id='led-north3-9-0'> </div><div class='led' id='led-north3-9-1'> </div><div class='led' id='led-north3-9-2'> </div></div> <div class='pix'><div class='led' id='led-north3-10-0'> </div><div class='led' id='led-north3-10-1'> </div><div class='led' id='led-north3-10-2'> </div></div> <div class='pix'><div class='led' id='led-north3-11-0'> </div><div class='led' id='led-north3-11-1'> </div><div class='led' id='led-north3-11-2'> </div></div> <div class='pix'><div class='led' id='led-north3-12-0'> </div><div class='led' id='led-north3-12-1'> </div><div class='led' id='led-north3-12-2'> </div></div> <div class='pix'><div class='led' id='led-north3-13-0'> </div><div class='led' id='led-north3-13-1'> </div><div class='led' id='led-north3-13-2'> </div></div> <div class='pix'><div class='led' id='led-north3-14-0'> </div><div class='led' id='led-north3-14-1'> </div><div class='led' id='led-north3-14-2'> </div></div> <div class='pix'><div class='led' id='led-north3-15-0'> </div><div class='led' id='led-north3-15-1'> </div><div class='led' id='led-north3-15-2'> </div></div> <div class='pix'><div class='led' id='led-north3-16-0'> </div><div class='led' id='led-north3-16-1'> </div><div class='led' id='led-north3-16-2'> </div></div> <div class='pix'><div class='led' id='led-north3-17-0'> </div><div class='led' id='led-north3-17-1'> </div><div class='led' id='led-north3-17-2'> </div></div> <div class='pix'><div class='led' id='led-north3-18-0'> </div><div class='led' id='led-north3-18-1'> </div><div class='led' id='led-north3-18-2'> </div></div> <div class='pix'><div class='led' id='led-north3-19-0'> </div><div class='led' id='led-north3-19-1'> </div><div class='led' id='led-north3-19-2'> </div></div> <div class='pix'><div class='led' id='led-north3-20-0'> </div><div class='led' id='led-north3-20-1'> </div><div class='led' id='led-north3-20-2'> </div></div> <div class='pix'><div class='led' id='led-north3-21-0'> </div><div class='led' id='led-north3-21-1'> </div><div class='led' id='led-north3-21-2'> </div></div> <div class='pix'><div class='led' id='led-north3-22-0'> </div><div class='led' id='led-north3-22-1'> </div><div class='led' id='led-north3-22-2'> </div></div> <div class='pix'><div class='led' id='led-north3-23-0'> </div><div class='led' id='led-north3-23-1'> </div><div class='led' id='led-north3-23-2'> </div></div> <div class='pix'><div class='led' id='led-north3-24-0'> </div><div class='led' id='led-north3-24-1'> </div><div class='led' id='led-north3-24-2'> </div></div> <div class='pix'><div class='led' id='led-north3-25-0'> </div><div class='led' id='led-north3-25-1'> </div><div class='led' id='led-north3-25-2'> </div></div> <div class='pix'><div class='led' id='led-north3-26-0'> </div><div class='led' id='led-north3-26-1'> </div><div class='led' id='led-north3-26-2'> </div></div> <div class='pix'><div class='led' id='led-north3-27-0'> </div><div class='led' id='led-north3-27-1'> </div><div class='led' id='led-north3-27-2'> </div></div> <div class='pix'><div class='led' id='led-north3-28-0'> </div><div class='led' id='led-north3-28-1'> </div><div class='led' id='led-north3-28-2'> </div></div> <div class='pix'><div class='led' id='led-north3-29-0'> </div><div class='led' id='led-north3-29-1'> </div><div class='led' id='led-north3-29-2'> </div></div> <div class='pix'><div class='led' id='led-north3-30-0'> </div><div class='led' id='led-north3-30-1'> </div><div class='led' id='led-north3-30-2'> </div></div> <div class='pix'><div class='led' id='led-north3-31-0'> </div><div class='led' id='led-north3-31-1'> </div><div class='led' id='led-north3-31-2'> </div></div> <div class='pix'><div class='led' id='led-north3-32-0'> </div><div class='led' id='led-north3-32-1'> </div><div class='led' id='led-north3-32-2'> </div></div> <div class='pix'><div class='led' id='led-north3-33-0'> </div><div class='led' id='led-north3-33-1'> </div><div class='led' id='led-north3-33-2'> </div></div> <div class='pix'><div class='led' id='led-north3-34-0'> </div><div class='led' id='led-north3-34-1'> </div><div class='led' id='led-north3-34-2'> </div></div> <div class='pix'><div class='led' id='led-north3-35-0'> </div><div class='led' id='led-north3-35-1'> </div><div class='led' id='led-north3-35-2'> </div></div> <div class='pix'><div class='led' id='led-north3-36-0'> </div><div class='led' id='led-north3-36-1'> </div><div class='led' id='led-north3-36-2'> </div></div> <div class='pix'><div class='led' id='led-north3-37-0'> </div><div class='led' id='led-north3-37-1'> </div><div class='led' id='led-north3-37-2'> </div></div> <div class='pix'><div class='led' id='led-north3-38-0'> </div><div class='led' id='led-north3-38-1'> </div><div class='led' id='led-north3-38-2'> </div></div> <div class='pix'><div class='led' id='led-north3-39-0'> </div><div class='led' id='led-north3-39-1'> </div><div class='led' id='led-north3-39-2'> </div></div> <div class='pix'><div class='led' id='led-north3-40-0'> </div><div class='led' id='led-north3-40-1'> </div><div class='led' id='led-north3-40-2'> </div></div> <div class='pix'><div class='led' id='led-north3-41-0'> </div><div class='led' id='led-north3-41-1'> </div><div class='led' id='led-north3-41-2'> </div></div> <div class='pix'><div class='led' id='led-north3-42-0'> </div><div class='led' id='led-north3-42-1'> </div><div class='led' id='led-north3-42-2'> </div></div> <div class='pix'><div class='led' id='led-north3-43-0'> </div><div class='led' id='led-north3-43-1'> </div><div class='led' id='led-north3-43-2'> </div></div> <div class='pix'><div class='led' id='led-north3-44-0'> </div><div class='led' id='led-north3-44-1'> </div><div class='led' id='led-north3-44-2'> </div></div> <div class='pix'><div class='led' id='led-north3-45-0'> </div><div class='led' id='led-north3-45-1'> </div><div class='led' id='led-north3-45-2'> </div></div> <div class='pix'><div class='led' id='led-north3-46-0'> </div><div class='led' id='led-north3-46-1'> </div><div class='led' id='led-north3-46-2'> </div></div> <div class='pix'><div class='led' id='led-north3-47-0'> </div><div class='led' id='led-north3-47-1'> </div><div class='led' id='led-north3-47-2'> </div></div> <div class='pix'><div class='led' id='led-north3-48-0'> </div><div class='led' id='led-north3-48-1'> </div><div class='led' id='led-north3-48-2'> </div></div> <div class='pix'><div class='led' id='led-north3-49-0'> </div><div class='led' id='led-north3-49-1'> </div><div class='led' id='led-north3-49-2'> </div></div> </div><div class='v-rect'><div class='pix'><div class='led' id='led-west1-0-0'> </div><div class='led' id='led-west1-0-1'> </div><div class='led' id='led-west1-0-2'> </div></div> <div class='pix'><div class='led' id='led-west1-1-0'> </div><div class='led' id='led-west1-1-1'> </div><div class='led' id='led-west1-1-2'> </div></div> <div class='pix'><div class='led' id='led-west1-2-0'> </div><div class='led' id='led-west1-2-1'> </div><div class='led' id='led-west1-2-2'> </div></div> <div class='pix'><div class='led' id='led-west1-3-0'> </div><div class='led' id='led-west1-3-1'> </div><div class='led' id='led-west1-3-2'> </div></div> <div class='pix'><div class='led' id='led-west1-4-0'> </div><div class='led' id='led-west1-4-1'> </div><div class='led' id='led-west1-4-2'> </div></div> <div class='pix'><div class='led' id='led-west1-5-0'> </div><div class='led' id='led-west1-5-1'> </div><div class='led' id='led-west1-5-2'> </div></div> <div class='pix'><div class='led' id='led-west1-6-0'> </div><div class='led' id='led-west1-6-1'> </div><div class='led' id='led-west1-6-2'> </div></div> <div class='pix'><div class='led' id='led-west1-7-0'> </div><div class='led' id='led-west1-7-1'> </div><div class='led' id='led-west1-7-2'> </div></div> <div class='pix'><div class='led' id='led-west1-8-0'> </div><div class='led' id='led-west1-8-1'> </div><div class='led' id='led-west1-8-2'> </div></div> <div class='pix'><div class='led' id='led-west1-9-0'> </div><div class='led' id='led-west1-9-1'> </div><div class='led' id='led-west1-9-2'> </div></div> <div class='pix'><div class='led' id='led-west1-10-0'> </div><div class='led' id='led-west1-10-1'> </div><div class='led' id='led-west1-10-2'> </div></div> <div class='pix'><div class='led' id='led-west1-11-0'> </div><div class='led' id='led-west1-11-1'> </div><div class='led' id='led-west1-11-2'> </div></div> <div class='pix'><div class='led' id='led-west1-12-0'> </div><div class='led' id='led-west1-12-1'> </div><div class='led' id='led-west1-12-2'> </div></div> <div class='pix'><div class='led' id='led-west1-13-0'> </div><div class='led' id='led-west1-13-1'> </div><div class='led' id='led-west1-13-2'> </div></div> <div class='pix'><div class='led' id='led-west1-14-0'> </div><div class='led' id='led-west1-14-1'> </div><div class='led' id='led-west1-14-2'> </div></div> <div class='pix'><div class='led' id='led-west1-15-0'> </div><div class='led' id='led-west1-15-1'> </div><div class='led' id='led-west1-15-2'> </div></div> <div class='pix'><div class='led' id='led-west1-16-0'> </div><div class='led' id='led-west1-16-1'> </div><div class='led' id='led-west1-16-2'> </div></div> <div class='pix'><div class='led' id='led-west1-17-0'> </div><div class='led' id='led-west1-17-1'> </div><div class='led' id='led-west1-17-2'> </div></div> <div class='pix'><div class='led' id='led-west1-18-0'> </div><div class='led' id='led-west1-18-1'> </div><div class='led' id='led-west1-18-2'> </div></div> <div class='pix'><div class='led' id='led-west1-19-0'> </div><div class='led' id='led-west1-19-1'> </div><div class='led' id='led-west1-19-2'> </div></div> <div class='pix'><div class='led' id='led-west1-20-0'> </div><div class='led' id='led-west1-20-1'> </div><div class='led' id='led-west1-20-2'> </div></div> <div class='pix'><div class='led' id='led-west1-21-0'> </div><div class='led' id='led-west1-21-1'> </div><div class='led' id='led-west1-21-2'> </div></div> <div class='pix'><div class='led' id='led-west1-22-0'> </div><div class='led' id='led-west1-22-1'> </div><div class='led' id='led-west1-22-2'> </div></div> <div class='pix'><div class='led' id='led-west1-23-0'> </div><div class='led' id='led-west1-23-1'> </div><div class='led' id='led-west1-23-2'> </div></div> <div class='pix'><div class='led' id='led-west1-24-0'> </div><div class='led' id='led-west1-24-1'> </div><div class='led' id='led-west1-24-2'> </div></div> <div class='pix'><div class='led' id='led-west1-25-0'> </div><div class='led' id='led-west1-25-1'> </div><div class='led' id='led-west1-25-2'> </div></div> <div class='pix'><div class='led' id='led-west1-26-0'> </div><div class='led' id='led-west1-26-1'> </div><div class='led' id='led-west1-26-2'> </div></div> <div class='pix'><div class='led' id='led-west1-27-0'> </div><div class='led' id='led-west1-27-1'> </div><div class='led' id='led-west1-27-2'> </div></div> <div class='pix'><div class='led' id='led-west1-28-0'> </div><div class='led' id='led-west1-28-1'> </div><div class='led' id='led-west1-28-2'> </div></div> <div class='pix'><div class='led' id='led-west1-29-0'> </div><div class='led' id='led-west1-29-1'> </div><div class='led' id='led-west1-29-2'> </div></div> <div class='pix'><div class='led' id='led-west1-30-0'> </div><div class='led' id='led-west1-30-1'> </div><div class='led' id='led-west1-30-2'> </div></div> <div class='pix'><div class='led' id='led-west1-31-0'> </div><div class='led' id='led-west1-31-1'> </div><div class='led' id='led-west1-31-2'> </div></div> <div class='pix'><div class='led' id='led-west1-32-0'> </div><div class='led' id='led-west1-32-1'> </div><div class='led' id='led-west1-32-2'> </div></div> <div class='pix'><div class='led' id='led-west1-33-0'> </div><div class='led' id='led-west1-33-1'> </div><div class='led' id='led-west1-33-2'> </div></div> <div class='pix'><div class='led' id='led-west1-34-0'> </div><div class='led' id='led-west1-34-1'> </div><div class='led' id='led-west1-34-2'> </div></div> <div class='pix'><div class='led' id='led-west1-35-0'> </div><div class='led' id='led-west1-35-1'> </div><div class='led' id='led-west1-35-2'> </div></div> <div class='pix'><div class='led' id='led-west1-36-0'> </div><div class='led' id='led-west1-36-1'> </div><div class='led' id='led-west1-36-2'> </div></div> <div class='pix'><div class='led' id='led-west1-37-0'> </div><div class='led' id='led-west1-37-1'> </div><div class='led' id='led-west1-37-2'> </div></div> <div class='pix'><div class='led' id='led-west1-38-0'> </div><div class='led' id='led-west1-38-1'> </div><div class='led' id='led-west1-38-2'> </div></div> <div class='pix'><div class='led' id='led-west1-39-0'> </div><div class='led' id='led-west1-39-1'> </div><div class='led' id='led-west1-39-2'> </div></div> <div class='pix'><div class='led' id='led-west1-40-0'> </div><div class='led' id='led-west1-40-1'> </div><div class='led' id='led-west1-40-2'> </div></div> <div class='pix'><div class='led' id='led-west1-41-0'> </div><div class='led' id='led-west1-41-1'> </div><div class='led' id='led-west1-41-2'> </div></div> <div class='pix'><div class='led' id='led-west1-42-0'> </div><div class='led' id='led-west1-42-1'> </div><div class='led' id='led-west1-42-2'> </div></div> <div class='pix'><div class='led' id='led-west1-43-0'> </div><div class='led' id='led-west1-43-1'> </div><div class='led' id='led-west1-43-2'> </div></div> <div class='pix'><div class='led' id='led-west1-44-0'> </div><div class='led' id='led-west1-44-1'> </div><div class='led' id='led-west1-44-2'> </div></div> <div class='pix'><div class='led' id='led-west1-45-0'> </div><div class='led' id='led-west1-45-1'> </div><div class='led' id='led-west1-45-2'> </div></div> <div class='pix'><div class='led' id='led-west1-46-0'> </div><div class='led' id='led-west1-46-1'> </div><div class='led' id='led-west1-46-2'> </div></div> <div class='pix'><div class='led' id='led-west1-47-0'> </div><div class='led' id='led-west1-47-1'> </div><div class='led' id='led-west1-47-2'> </div></div> <div class='pix'><div class='led' id='led-west1-48-0'> </div><div class='led' id='led-west1-48-1'> </div><div class='led' id='led-west1-48-2'> </div></div> <div class='pix'><div class='led' id='led-west1-49-0'> </div><div class='led' id='led-west1-49-1'> </div><div class='led' id='led-west1-49-2'> </div></div> </div><div class='v-rect'><div class='pix'><div class='led' id='led-west2-0-0'> </div><div class='led' id='led-west2-0-1'> </div><div class='led' id='led-west2-0-2'> </div></div> <div class='pix'><div class='led' id='led-west2-1-0'> </div><div class='led' id='led-west2-1-1'> </div><div class='led' id='led-west2-1-2'> </div></div> <div class='pix'><div class='led' id='led-west2-2-0'> </div><div class='led' id='led-west2-2-1'> </div><div class='led' id='led-west2-2-2'> </div></div> <div class='pix'><div class='led' id='led-west2-3-0'> </div><div class='led' id='led-west2-3-1'> </div><div class='led' id='led-west2-3-2'> </div></div> <div class='pix'><div class='led' id='led-west2-4-0'> </div><div class='led' id='led-west2-4-1'> </div><div class='led' id='led-west2-4-2'> </div></div> <div class='pix'><div class='led' id='led-west2-5-0'> </div><div class='led' id='led-west2-5-1'> </div><div class='led' id='led-west2-5-2'> </div></div> <div class='pix'><div class='led' id='led-west2-6-0'> </div><div class='led' id='led-west2-6-1'> </div><div class='led' id='led-west2-6-2'> </div></div> <div class='pix'><div class='led' id='led-west2-7-0'> </div><div class='led' id='led-west2-7-1'> </div><div class='led' id='led-west2-7-2'> </div></div> <div class='pix'><div class='led' id='led-west2-8-0'> </div><div class='led' id='led-west2-8-1'> </div><div class='led' id='led-west2-8-2'> </div></div> <div class='pix'><div class='led' id='led-west2-9-0'> </div><div class='led' id='led-west2-9-1'> </div><div class='led' id='led-west2-9-2'> </div></div> <div class='pix'><div class='led' id='led-west2-10-0'> </div><div class='led' id='led-west2-10-1'> </div><div class='led' id='led-west2-10-2'> </div></div> <div class='pix'><div class='led' id='led-west2-11-0'> </div><div class='led' id='led-west2-11-1'> </div><div class='led' id='led-west2-11-2'> </div></div> <div class='pix'><div class='led' id='led-west2-12-0'> </div><div class='led' id='led-west2-12-1'> </div><div class='led' id='led-west2-12-2'> </div></div> <div class='pix'><div class='led' id='led-west2-13-0'> </div><div class='led' id='led-west2-13-1'> </div><div class='led' id='led-west2-13-2'> </div></div> <div class='pix'><div class='led' id='led-west2-14-0'> </div><div class='led' id='led-west2-14-1'> </div><div class='led' id='led-west2-14-2'> </div></div> <div class='pix'><div class='led' id='led-west2-15-0'> </div><div class='led' id='led-west2-15-1'> </div><div class='led' id='led-west2-15-2'> </div></div> <div class='pix'><div class='led' id='led-west2-16-0'> </div><div class='led' id='led-west2-16-1'> </div><div class='led' id='led-west2-16-2'> </div></div> <div class='pix'><div class='led' id='led-west2-17-0'> </div><div class='led' id='led-west2-17-1'> </div><div class='led' id='led-west2-17-2'> </div></div> <div class='pix'><div class='led' id='led-west2-18-0'> </div><div class='led' id='led-west2-18-1'> </div><div class='led' id='led-west2-18-2'> </div></div> <div class='pix'><div class='led' id='led-west2-19-0'> </div><div class='led' id='led-west2-19-1'> </div><div class='led' id='led-west2-19-2'> </div></div> <div class='pix'><div class='led' id='led-west2-20-0'> </div><div class='led' id='led-west2-20-1'> </div><div class='led' id='led-west2-20-2'> </div></div> <div class='pix'><div class='led' id='led-west2-21-0'> </div><div class='led' id='led-west2-21-1'> </div><div class='led' id='led-west2-21-2'> </div></div> <div class='pix'><div class='led' id='led-west2-22-0'> </div><div class='led' id='led-west2-22-1'> </div><div class='led' id='led-west2-22-2'> </div></div> <div class='pix'><div class='led' id='led-west2-23-0'> </div><div class='led' id='led-west2-23-1'> </div><div class='led' id='led-west2-23-2'> </div></div> <div class='pix'><div class='led' id='led-west2-24-0'> </div><div class='led' id='led-west2-24-1'> </div><div class='led' id='led-west2-24-2'> </div></div> <div class='pix'><div class='led' id='led-west2-25-0'> </div><div class='led' id='led-west2-25-1'> </div><div class='led' id='led-west2-25-2'> </div></div> <div class='pix'><div class='led' id='led-west2-26-0'> </div><div class='led' id='led-west2-26-1'> </div><div class='led' id='led-west2-26-2'> </div></div> <div class='pix'><div class='led' id='led-west2-27-0'> </div><div class='led' id='led-west2-27-1'> </div><div class='led' id='led-west2-27-2'> </div></div> <div class='pix'><div class='led' id='led-west2-28-0'> </div><div class='led' id='led-west2-28-1'> </div><div class='led' id='led-west2-28-2'> </div></div> <div class='pix'><div class='led' id='led-west2-29-0'> </div><div class='led' id='led-west2-29-1'> </div><div class='led' id='led-west2-29-2'> </div></div> <div class='pix'><div class='led' id='led-west2-30-0'> </div><div class='led' id='led-west2-30-1'> </div><div class='led' id='led-west2-30-2'> </div></div> <div class='pix'><div class='led' id='led-west2-31-0'> </div><div class='led' id='led-west2-31-1'> </div><div class='led' id='led-west2-31-2'> </div></div> <div class='pix'><div class='led' id='led-west2-32-0'> </div><div class='led' id='led-west2-32-1'> </div><div class='led' id='led-west2-32-2'> </div></div> <div class='pix'><div class='led' id='led-west2-33-0'> </div><div class='led' id='led-west2-33-1'> </div><div class='led' id='led-west2-33-2'> </div></div> <div class='pix'><div class='led' id='led-west2-34-0'> </div><div class='led' id='led-west2-34-1'> </div><div class='led' id='led-west2-34-2'> </div></div> <div class='pix'><div class='led' id='led-west2-35-0'> </div><div class='led' id='led-west2-35-1'> </div><div class='led' id='led-west2-35-2'> </div></div> <div class='pix'><div class='led' id='led-west2-36-0'> </div><div class='led' id='led-west2-36-1'> </div><div class='led' id='led-west2-36-2'> </div></div> <div class='pix'><div class='led' id='led-west2-37-0'> </div><div class='led' id='led-west2-37-1'> </div><div class='led' id='led-west2-37-2'> </div></div> <div class='pix'><div class='led' id='led-west2-38-0'> </div><div class='led' id='led-west2-38-1'> </div><div class='led' id='led-west2-38-2'> </div></div> <div class='pix'><div class='led' id='led-west2-39-0'> </div><div class='led' id='led-west2-39-1'> </div><div class='led' id='led-west2-39-2'> </div></div> <div class='pix'><div class='led' id='led-west2-40-0'> </div><div class='led' id='led-west2-40-1'> </div><div class='led' id='led-west2-40-2'> </div></div> <div class='pix'><div class='led' id='led-west2-41-0'> </div><div class='led' id='led-west2-41-1'> </div><div class='led' id='led-west2-41-2'> </div></div> <div class='pix'><div class='led' id='led-west2-42-0'> </div><div class='led' id='led-west2-42-1'> </div><div class='led' id='led-west2-42-2'> </div></div> <div class='pix'><div class='led' id='led-west2-43-0'> </div><div class='led' id='led-west2-43-1'> </div><div class='led' id='led-west2-43-2'> </div></div> <div class='pix'><div class='led' id='led-west2-44-0'> </div><div class='led' id='led-west2-44-1'> </div><div class='led' id='led-west2-44-2'> </div></div> <div class='pix'><div class='led' id='led-west2-45-0'> </div><div class='led' id='led-west2-45-1'> </div><div class='led' id='led-west2-45-2'> </div></div> <div class='pix'><div class='led' id='led-west2-46-0'> </div><div class='led' id='led-west2-46-1'> </div><div class='led' id='led-west2-46-2'> </div></div> <div class='pix'><div class='led' id='led-west2-47-0'> </div><div class='led' id='led-west2-47-1'> </div><div class='led' id='led-west2-47-2'> </div></div> <div class='pix'><div class='led' id='led-west2-48-0'> </div><div class='led' id='led-west2-48-1'> </div><div class='led' id='led-west2-48-2'> </div></div> <div class='pix'><div class='led' id='led-west2-49-0'> </div><div class='led' id='led-west2-49-1'> </div><div class='led' id='led-west2-49-2'> </div></div> </div><div class='v-rect'><div class='pix'><div class='led' id='led-west3-0-0'> </div><div class='led' id='led-west3-0-1'> </div><div class='led' id='led-west3-0-2'> </div></div> <div class='pix'><div class='led' id='led-west3-1-0'> </div><div class='led' id='led-west3-1-1'> </div><div class='led' id='led-west3-1-2'> </div></div> <div class='pix'><div class='led' id='led-west3-2-0'> </div><div class='led' id='led-west3-2-1'> </div><div class='led' id='led-west3-2-2'> </div></div> <div class='pix'><div class='led' id='led-west3-3-0'> </div><div class='led' id='led-west3-3-1'> </div><div class='led' id='led-west3-3-2'> </div></div> <div class='pix'><div class='led' id='led-west3-4-0'> </div><div class='led' id='led-west3-4-1'> </div><div class='led' id='led-west3-4-2'> </div></div> <div class='pix'><div class='led' id='led-west3-5-0'> </div><div class='led' id='led-west3-5-1'> </div><div class='led' id='led-west3-5-2'> </div></div> <div class='pix'><div class='led' id='led-west3-6-0'> </div><div class='led' id='led-west3-6-1'> </div><div class='led' id='led-west3-6-2'> </div></div> <div class='pix'><div class='led' id='led-west3-7-0'> </div><div class='led' id='led-west3-7-1'> </div><div class='led' id='led-west3-7-2'> </div></div> <div class='pix'><div class='led' id='led-west3-8-0'> </div><div class='led' id='led-west3-8-1'> </div><div class='led' id='led-west3-8-2'> </div></div> <div class='pix'><div class='led' id='led-west3-9-0'> </div><div class='led' id='led-west3-9-1'> </div><div class='led' id='led-west3-9-2'> </div></div> <div class='pix'><div class='led' id='led-west3-10-0'> </div><div class='led' id='led-west3-10-1'> </div><div class='led' id='led-west3-10-2'> </div></div> <div class='pix'><div class='led' id='led-west3-11-0'> </div><div class='led' id='led-west3-11-1'> </div><div class='led' id='led-west3-11-2'> </div></div> <div class='pix'><div class='led' id='led-west3-12-0'> </div><div class='led' id='led-west3-12-1'> </div><div class='led' id='led-west3-12-2'> </div></div> <div class='pix'><div class='led' id='led-west3-13-0'> </div><div class='led' id='led-west3-13-1'> </div><div class='led' id='led-west3-13-2'> </div></div> <div class='pix'><div class='led' id='led-west3-14-0'> </div><div class='led' id='led-west3-14-1'> </div><div class='led' id='led-west3-14-2'> </div></div> <div class='pix'><div class='led' id='led-west3-15-0'> </div><div class='led' id='led-west3-15-1'> </div><div class='led' id='led-west3-15-2'> </div></div> <div class='pix'><div class='led' id='led-west3-16-0'> </div><div class='led' id='led-west3-16-1'> </div><div class='led' id='led-west3-16-2'> </div></div> <div class='pix'><div class='led' id='led-west3-17-0'> </div><div class='led' id='led-west3-17-1'> </div><div class='led' id='led-west3-17-2'> </div></div> <div class='pix'><div class='led' id='led-west3-18-0'> </div><div class='led' id='led-west3-18-1'> </div><div class='led' id='led-west3-18-2'> </div></div> <div class='pix'><div class='led' id='led-west3-19-0'> </div><div class='led' id='led-west3-19-1'> </div><div class='led' id='led-west3-19-2'> </div></div> <div class='pix'><div class='led' id='led-west3-20-0'> </div><div class='led' id='led-west3-20-1'> </div><div class='led' id='led-west3-20-2'> </div></div> <div class='pix'><div class='led' id='led-west3-21-0'> </div><div class='led' id='led-west3-21-1'> </div><div class='led' id='led-west3-21-2'> </div></div> <div class='pix'><div class='led' id='led-west3-22-0'> </div><div class='led' id='led-west3-22-1'> </div><div class='led' id='led-west3-22-2'> </div></div> <div class='pix'><div class='led' id='led-west3-23-0'> </div><div class='led' id='led-west3-23-1'> </div><div class='led' id='led-west3-23-2'> </div></div> <div class='pix'><div class='led' id='led-west3-24-0'> </div><div class='led' id='led-west3-24-1'> </div><div class='led' id='led-west3-24-2'> </div></div> <div class='pix'><div class='led' id='led-west3-25-0'> </div><div class='led' id='led-west3-25-1'> </div><div class='led' id='led-west3-25-2'> </div></div> <div class='pix'><div class='led' id='led-west3-26-0'> </div><div class='led' id='led-west3-26-1'> </div><div class='led' id='led-west3-26-2'> </div></div> <div class='pix'><div class='led' id='led-west3-27-0'> </div><div class='led' id='led-west3-27-1'> </div><div class='led' id='led-west3-27-2'> </div></div> <div class='pix'><div class='led' id='led-west3-28-0'> </div><div class='led' id='led-west3-28-1'> </div><div class='led' id='led-west3-28-2'> </div></div> <div class='pix'><div class='led' id='led-west3-29-0'> </div><div class='led' id='led-west3-29-1'> </div><div class='led' id='led-west3-29-2'> </div></div> <div class='pix'><div class='led' id='led-west3-30-0'> </div><div class='led' id='led-west3-30-1'> </div><div class='led' id='led-west3-30-2'> </div></div> <div class='pix'><div class='led' id='led-west3-31-0'> </div><div class='led' id='led-west3-31-1'> </div><div class='led' id='led-west3-31-2'> </div></div> <div class='pix'><div class='led' id='led-west3-32-0'> </div><div class='led' id='led-west3-32-1'> </div><div class='led' id='led-west3-32-2'> </div></div> <div class='pix'><div class='led' id='led-west3-33-0'> </div><div class='led' id='led-west3-33-1'> </div><div class='led' id='led-west3-33-2'> </div></div> <div class='pix'><div class='led' id='led-west3-34-0'> </div><div class='led' id='led-west3-34-1'> </div><div class='led' id='led-west3-34-2'> </div></div> <div class='pix'><div class='led' id='led-west3-35-0'> </div><div class='led' id='led-west3-35-1'> </div><div class='led' id='led-west3-35-2'> </div></div> <div class='pix'><div class='led' id='led-west3-36-0'> </div><div class='led' id='led-west3-36-1'> </div><div class='led' id='led-west3-36-2'> </div></div> <div class='pix'><div class='led' id='led-west3-37-0'> </div><div class='led' id='led-west3-37-1'> </div><div class='led' id='led-west3-37-2'> </div></div> <div class='pix'><div class='led' id='led-west3-38-0'> </div><div class='led' id='led-west3-38-1'> </div><div class='led' id='led-west3-38-2'> </div></div> <div class='pix'><div class='led' id='led-west3-39-0'> </div><div class='led' id='led-west3-39-1'> </div><div class='led' id='led-west3-39-2'> </div></div> <div class='pix'><div class='led' id='led-west3-40-0'> </div><div class='led' id='led-west3-40-1'> </div><div class='led' id='led-west3-40-2'> </div></div> <div class='pix'><div class='led' id='led-west3-41-0'> </div><div class='led' id='led-west3-41-1'> </div><div class='led' id='led-west3-41-2'> </div></div> <div class='pix'><div class='led' id='led-west3-42-0'> </div><div class='led' id='led-west3-42-1'> </div><div class='led' id='led-west3-42-2'> </div></div> <div class='pix'><div class='led' id='led-west3-43-0'> </div><div class='led' id='led-west3-43-1'> </div><div class='led' id='led-west3-43-2'> </div></div> <div class='pix'><div class='led' id='led-west3-44-0'> </div><div class='led' id='led-west3-44-1'> </div><div class='led' id='led-west3-44-2'> </div></div> <div class='pix'><div class='led' id='led-west3-45-0'> </div><div class='led' id='led-west3-45-1'> </div><div class='led' id='led-west3-45-2'> </div></div> <div class='pix'><div class='led' id='led-west3-46-0'> </div><div class='led' id='led-west3-46-1'> </div><div class='led' id='led-west3-46-2'> </div></div> <div class='pix'><div class='led' id='led-west3-47-0'> </div><div class='led' id='led-west3-47-1'> </div><div class='led' id='led-west3-47-2'> </div></div> <div class='pix'><div class='led' id='led-west3-48-0'> </div><div class='led' id='led-west3-48-1'> </div><div class='led' id='led-west3-48-2'> </div></div> <div class='pix'><div class='led' id='led-west3-49-0'> </div><div class='led' id='led-west3-49-1'> </div><div class='led' id='led-west3-49-2'> </div></div> </div><div class='v-rect'><div class='pix'><div class='led' id='led-south1-0-0'> </div><div class='led' id='led-south1-0-1'> </div><div class='led' id='led-south1-0-2'> </div></div> <div class='pix'><div class='led' id='led-south1-1-0'> </div><div class='led' id='led-south1-1-1'> </div><div class='led' id='led-south1-1-2'> </div></div> <div class='pix'><div class='led' id='led-south1-2-0'> </div><div class='led' id='led-south1-2-1'> </div><div class='led' id='led-south1-2-2'> </div></div> <div class='pix'><div class='led' id='led-south1-3-0'> </div><div class='led' id='led-south1-3-1'> </div><div class='led' id='led-south1-3-2'> </div></div> <div class='pix'><div class='led' id='led-south1-4-0'> </div><div class='led' id='led-south1-4-1'> </div><div class='led' id='led-south1-4-2'> </div></div> <div class='pix'><div class='led' id='led-south1-5-0'> </div><div class='led' id='led-south1-5-1'> </div><div class='led' id='led-south1-5-2'> </div></div> <div class='pix'><div class='led' id='led-south1-6-0'> </div><div class='led' id='led-south1-6-1'> </div><div class='led' id='led-south1-6-2'> </div></div> <div class='pix'><div class='led' id='led-south1-7-0'> </div><div class='led' id='led-south1-7-1'> </div><div class='led' id='led-south1-7-2'> </div></div> <div class='pix'><div class='led' id='led-south1-8-0'> </div><div class='led' id='led-south1-8-1'> </div><div class='led' id='led-south1-8-2'> </div></div> <div class='pix'><div class='led' id='led-south1-9-0'> </div><div class='led' id='led-south1-9-1'> </div><div class='led' id='led-south1-9-2'> </div></div> <div class='pix'><div class='led' id='led-south1-10-0'> </div><div class='led' id='led-south1-10-1'> </div><div class='led' id='led-south1-10-2'> </div></div> <div class='pix'><div class='led' id='led-south1-11-0'> </div><div class='led' id='led-south1-11-1'> </div><div class='led' id='led-south1-11-2'> </div></div> <div class='pix'><div class='led' id='led-south1-12-0'> </div><div class='led' id='led-south1-12-1'> </div><div class='led' id='led-south1-12-2'> </div></div> <div class='pix'><div class='led' id='led-south1-13-0'> </div><div class='led' id='led-south1-13-1'> </div><div class='led' id='led-south1-13-2'> </div></div> <div class='pix'><div class='led' id='led-south1-14-0'> </div><div class='led' id='led-south1-14-1'> </div><div class='led' id='led-south1-14-2'> </div></div> <div class='pix'><div class='led' id='led-south1-15-0'> </div><div class='led' id='led-south1-15-1'> </div><div class='led' id='led-south1-15-2'> </div></div> <div class='pix'><div class='led' id='led-south1-16-0'> </div><div class='led' id='led-south1-16-1'> </div><div class='led' id='led-south1-16-2'> </div></div> <div class='pix'><div class='led' id='led-south1-17-0'> </div><div class='led' id='led-south1-17-1'> </div><div class='led' id='led-south1-17-2'> </div></div> <div class='pix'><div class='led' id='led-south1-18-0'> </div><div class='led' id='led-south1-18-1'> </div><div class='led' id='led-south1-18-2'> </div></div> <div class='pix'><div class='led' id='led-south1-19-0'> </div><div class='led' id='led-south1-19-1'> </div><div class='led' id='led-south1-19-2'> </div></div> <div class='pix'><div class='led' id='led-south1-20-0'> </div><div class='led' id='led-south1-20-1'> </div><div class='led' id='led-south1-20-2'> </div></div> <div class='pix'><div class='led' id='led-south1-21-0'> </div><div class='led' id='led-south1-21-1'> </div><div class='led' id='led-south1-21-2'> </div></div> <div class='pix'><div class='led' id='led-south1-22-0'> </div><div class='led' id='led-south1-22-1'> </div><div class='led' id='led-south1-22-2'> </div></div> <div class='pix'><div class='led' id='led-south1-23-0'> </div><div class='led' id='led-south1-23-1'> </div><div class='led' id='led-south1-23-2'> </div></div> <div class='pix'><div class='led' id='led-south1-24-0'> </div><div class='led' id='led-south1-24-1'> </div><div class='led' id='led-south1-24-2'> </div></div> <div class='pix'><div class='led' id='led-south1-25-0'> </div><div class='led' id='led-south1-25-1'> </div><div class='led' id='led-south1-25-2'> </div></div> <div class='pix'><div class='led' id='led-south1-26-0'> </div><div class='led' id='led-south1-26-1'> </div><div class='led' id='led-south1-26-2'> </div></div> <div class='pix'><div class='led' id='led-south1-27-0'> </div><div class='led' id='led-south1-27-1'> </div><div class='led' id='led-south1-27-2'> </div></div> <div class='pix'><div class='led' id='led-south1-28-0'> </div><div class='led' id='led-south1-28-1'> </div><div class='led' id='led-south1-28-2'> </div></div> <div class='pix'><div class='led' id='led-south1-29-0'> </div><div class='led' id='led-south1-29-1'> </div><div class='led' id='led-south1-29-2'> </div></div> <div class='pix'><div class='led' id='led-south1-30-0'> </div><div class='led' id='led-south1-30-1'> </div><div class='led' id='led-south1-30-2'> </div></div> <div class='pix'><div class='led' id='led-south1-31-0'> </div><div class='led' id='led-south1-31-1'> </div><div class='led' id='led-south1-31-2'> </div></div> <div class='pix'><div class='led' id='led-south1-32-0'> </div><div class='led' id='led-south1-32-1'> </div><div class='led' id='led-south1-32-2'> </div></div> <div class='pix'><div class='led' id='led-south1-33-0'> </div><div class='led' id='led-south1-33-1'> </div><div class='led' id='led-south1-33-2'> </div></div> <div class='pix'><div class='led' id='led-south1-34-0'> </div><div class='led' id='led-south1-34-1'> </div><div class='led' id='led-south1-34-2'> </div></div> <div class='pix'><div class='led' id='led-south1-35-0'> </div><div class='led' id='led-south1-35-1'> </div><div class='led' id='led-south1-35-2'> </div></div> <div class='pix'><div class='led' id='led-south1-36-0'> </div><div class='led' id='led-south1-36-1'> </div><div class='led' id='led-south1-36-2'> </div></div> <div class='pix'><div class='led' id='led-south1-37-0'> </div><div class='led' id='led-south1-37-1'> </div><div class='led' id='led-south1-37-2'> </div></div> <div class='pix'><div class='led' id='led-south1-38-0'> </div><div class='led' id='led-south1-38-1'> </div><div class='led' id='led-south1-38-2'> </div></div> <div class='pix'><div class='led' id='led-south1-39-0'> </div><div class='led' id='led-south1-39-1'> </div><div class='led' id='led-south1-39-2'> </div></div> <div class='pix'><div class='led' id='led-south1-40-0'> </div><div class='led' id='led-south1-40-1'> </div><div class='led' id='led-south1-40-2'> </div></div> <div class='pix'><div class='led' id='led-south1-41-0'> </div><div class='led' id='led-south1-41-1'> </div><div class='led' id='led-south1-41-2'> </div></div> <div class='pix'><div class='led' id='led-south1-42-0'> </div><div class='led' id='led-south1-42-1'> </div><div class='led' id='led-south1-42-2'> </div></div> <div class='pix'><div class='led' id='led-south1-43-0'> </div><div class='led' id='led-south1-43-1'> </div><div class='led' id='led-south1-43-2'> </div></div> <div class='pix'><div class='led' id='led-south1-44-0'> </div><div class='led' id='led-south1-44-1'> </div><div class='led' id='led-south1-44-2'> </div></div> <div class='pix'><div class='led' id='led-south1-45-0'> </div><div class='led' id='led-south1-45-1'> </div><div class='led' id='led-south1-45-2'> </div></div> <div class='pix'><div class='led' id='led-south1-46-0'> </div><div class='led' id='led-south1-46-1'> </div><div class='led' id='led-south1-46-2'> </div></div> <div class='pix'><div class='led' id='led-south1-47-0'> </div><div class='led' id='led-south1-47-1'> </div><div class='led' id='led-south1-47-2'> </div></div> <div class='pix'><div class='led' id='led-south1-48-0'> </div><div class='led' id='led-south1-48-1'> </div><div class='led' id='led-south1-48-2'> </div></div> <div class='pix'><div class='led' id='led-south1-49-0'> </div><div class='led' id='led-south1-49-1'> </div><div class='led' id='led-south1-49-2'> </div></div> </div><div class='v-rect'><div class='pix'><div class='led' id='led-south2-0-0'> </div><div class='led' id='led-south2-0-1'> </div><div class='led' id='led-south2-0-2'> </div></div> <div class='pix'><div class='led' id='led-south2-1-0'> </div><div class='led' id='led-south2-1-1'> </div><div class='led' id='led-south2-1-2'> </div></div> <div class='pix'><div class='led' id='led-south2-2-0'> </div><div class='led' id='led-south2-2-1'> </div><div class='led' id='led-south2-2-2'> </div></div> <div class='pix'><div class='led' id='led-south2-3-0'> </div><div class='led' id='led-south2-3-1'> </div><div class='led' id='led-south2-3-2'> </div></div> <div class='pix'><div class='led' id='led-south2-4-0'> </div><div class='led' id='led-south2-4-1'> </div><div class='led' id='led-south2-4-2'> </div></div> <div class='pix'><div class='led' id='led-south2-5-0'> </div><div class='led' id='led-south2-5-1'> </div><div class='led' id='led-south2-5-2'> </div></div> <div class='pix'><div class='led' id='led-south2-6-0'> </div><div class='led' id='led-south2-6-1'> </div><div class='led' id='led-south2-6-2'> </div></div> <div class='pix'><div class='led' id='led-south2-7-0'> </div><div class='led' id='led-south2-7-1'> </div><div class='led' id='led-south2-7-2'> </div></div> <div class='pix'><div class='led' id='led-south2-8-0'> </div><div class='led' id='led-south2-8-1'> </div><div class='led' id='led-south2-8-2'> </div></div> <div class='pix'><div class='led' id='led-south2-9-0'> </div><div class='led' id='led-south2-9-1'> </div><div class='led' id='led-south2-9-2'> </div></div> <div class='pix'><div class='led' id='led-south2-10-0'> </div><div class='led' id='led-south2-10-1'> </div><div class='led' id='led-south2-10-2'> </div></div> <div class='pix'><div class='led' id='led-south2-11-0'> </div><div class='led' id='led-south2-11-1'> </div><div class='led' id='led-south2-11-2'> </div></div> <div class='pix'><div class='led' id='led-south2-12-0'> </div><div class='led' id='led-south2-12-1'> </div><div class='led' id='led-south2-12-2'> </div></div> <div class='pix'><div class='led' id='led-south2-13-0'> </div><div class='led' id='led-south2-13-1'> </div><div class='led' id='led-south2-13-2'> </div></div> <div class='pix'><div class='led' id='led-south2-14-0'> </div><div class='led' id='led-south2-14-1'> </div><div class='led' id='led-south2-14-2'> </div></div> <div class='pix'><div class='led' id='led-south2-15-0'> </div><div class='led' id='led-south2-15-1'> </div><div class='led' id='led-south2-15-2'> </div></div> <div class='pix'><div class='led' id='led-south2-16-0'> </div><div class='led' id='led-south2-16-1'> </div><div class='led' id='led-south2-16-2'> </div></div> <div class='pix'><div class='led' id='led-south2-17-0'> </div><div class='led' id='led-south2-17-1'> </div><div class='led' id='led-south2-17-2'> </div></div> <div class='pix'><div class='led' id='led-south2-18-0'> </div><div class='led' id='led-south2-18-1'> </div><div class='led' id='led-south2-18-2'> </div></div> <div class='pix'><div class='led' id='led-south2-19-0'> </div><div class='led' id='led-south2-19-1'> </div><div class='led' id='led-south2-19-2'> </div></div> <div class='pix'><div class='led' id='led-south2-20-0'> </div><div class='led' id='led-south2-20-1'> </div><div class='led' id='led-south2-20-2'> </div></div> <div class='pix'><div class='led' id='led-south2-21-0'> </div><div class='led' id='led-south2-21-1'> </div><div class='led' id='led-south2-21-2'> </div></div> <div class='pix'><div class='led' id='led-south2-22-0'> </div><div class='led' id='led-south2-22-1'> </div><div class='led' id='led-south2-22-2'> </div></div> <div class='pix'><div class='led' id='led-south2-23-0'> </div><div class='led' id='led-south2-23-1'> </div><div class='led' id='led-south2-23-2'> </div></div> <div class='pix'><div class='led' id='led-south2-24-0'> </div><div class='led' id='led-south2-24-1'> </div><div class='led' id='led-south2-24-2'> </div></div> <div class='pix'><div class='led' id='led-south2-25-0'> </div><div class='led' id='led-south2-25-1'> </div><div class='led' id='led-south2-25-2'> </div></div> <div class='pix'><div class='led' id='led-south2-26-0'> </div><div class='led' id='led-south2-26-1'> </div><div class='led' id='led-south2-26-2'> </div></div> <div class='pix'><div class='led' id='led-south2-27-0'> </div><div class='led' id='led-south2-27-1'> </div><div class='led' id='led-south2-27-2'> </div></div> <div class='pix'><div class='led' id='led-south2-28-0'> </div><div class='led' id='led-south2-28-1'> </div><div class='led' id='led-south2-28-2'> </div></div> <div class='pix'><div class='led' id='led-south2-29-0'> </div><div class='led' id='led-south2-29-1'> </div><div class='led' id='led-south2-29-2'> </div></div> <div class='pix'><div class='led' id='led-south2-30-0'> </div><div class='led' id='led-south2-30-1'> </div><div class='led' id='led-south2-30-2'> </div></div> <div class='pix'><div class='led' id='led-south2-31-0'> </div><div class='led' id='led-south2-31-1'> </div><div class='led' id='led-south2-31-2'> </div></div> <div class='pix'><div class='led' id='led-south2-32-0'> </div><div class='led' id='led-south2-32-1'> </div><div class='led' id='led-south2-32-2'> </div></div> <div class='pix'><div class='led' id='led-south2-33-0'> </div><div class='led' id='led-south2-33-1'> </div><div class='led' id='led-south2-33-2'> </div></div> <div class='pix'><div class='led' id='led-south2-34-0'> </div><div class='led' id='led-south2-34-1'> </div><div class='led' id='led-south2-34-2'> </div></div> <div class='pix'><div class='led' id='led-south2-35-0'> </div><div class='led' id='led-south2-35-1'> </div><div class='led' id='led-south2-35-2'> </div></div> <div class='pix'><div class='led' id='led-south2-36-0'> </div><div class='led' id='led-south2-36-1'> </div><div class='led' id='led-south2-36-2'> </div></div> <div class='pix'><div class='led' id='led-south2-37-0'> </div><div class='led' id='led-south2-37-1'> </div><div class='led' id='led-south2-37-2'> </div></div> <div class='pix'><div class='led' id='led-south2-38-0'> </div><div class='led' id='led-south2-38-1'> </div><div class='led' id='led-south2-38-2'> </div></div> <div class='pix'><div class='led' id='led-south2-39-0'> </div><div class='led' id='led-south2-39-1'> </div><div class='led' id='led-south2-39-2'> </div></div> <div class='pix'><div class='led' id='led-south2-40-0'> </div><div class='led' id='led-south2-40-1'> </div><div class='led' id='led-south2-40-2'> </div></div> <div class='pix'><div class='led' id='led-south2-41-0'> </div><div class='led' id='led-south2-41-1'> </div><div class='led' id='led-south2-41-2'> </div></div> <div class='pix'><div class='led' id='led-south2-42-0'> </div><div class='led' id='led-south2-42-1'> </div><div class='led' id='led-south2-42-2'> </div></div> <div class='pix'><div class='led' id='led-south2-43-0'> </div><div class='led' id='led-south2-43-1'> </div><div class='led' id='led-south2-43-2'> </div></div> <div class='pix'><div class='led' id='led-south2-44-0'> </div><div class='led' id='led-south2-44-1'> </div><div class='led' id='led-south2-44-2'> </div></div> <div class='pix'><div class='led' id='led-south2-45-0'> </div><div class='led' id='led-south2-45-1'> </div><div class='led' id='led-south2-45-2'> </div></div> <div class='pix'><div class='led' id='led-south2-46-0'> </div><div class='led' id='led-south2-46-1'> </div><div class='led' id='led-south2-46-2'> </div></div> <div class='pix'><div class='led' id='led-south2-47-0'> </div><div class='led' id='led-south2-47-1'> </div><div class='led' id='led-south2-47-2'> </div></div> <div class='pix'><div class='led' id='led-south2-48-0'> </div><div class='led' id='led-south2-48-1'> </div><div class='led' id='led-south2-48-2'> </div></div> <div class='pix'><div class='led' id='led-south2-49-0'> </div><div class='led' id='led-south2-49-1'> </div><div class='led' id='led-south2-49-2'> </div></div> </div><div class='v-rect'><div class='pix'><div class='led' id='led-south3-0-0'> </div><div class='led' id='led-south3-0-1'> </div><div class='led' id='led-south3-0-2'> </div></div> <div class='pix'><div class='led' id='led-south3-1-0'> </div><div class='led' id='led-south3-1-1'> </div><div class='led' id='led-south3-1-2'> </div></div> <div class='pix'><div class='led' id='led-south3-2-0'> </div><div class='led' id='led-south3-2-1'> </div><div class='led' id='led-south3-2-2'> </div></div> <div class='pix'><div class='led' id='led-south3-3-0'> </div><div class='led' id='led-south3-3-1'> </div><div class='led' id='led-south3-3-2'> </div></div> <div class='pix'><div class='led' id='led-south3-4-0'> </div><div class='led' id='led-south3-4-1'> </div><div class='led' id='led-south3-4-2'> </div></div> <div class='pix'><div class='led' id='led-south3-5-0'> </div><div class='led' id='led-south3-5-1'> </div><div class='led' id='led-south3-5-2'> </div></div> <div class='pix'><div class='led' id='led-south3-6-0'> </div><div class='led' id='led-south3-6-1'> </div><div class='led' id='led-south3-6-2'> </div></div> <div class='pix'><div class='led' id='led-south3-7-0'> </div><div class='led' id='led-south3-7-1'> </div><div class='led' id='led-south3-7-2'> </div></div> <div class='pix'><div class='led' id='led-south3-8-0'> </div><div class='led' id='led-south3-8-1'> </div><div class='led' id='led-south3-8-2'> </div></div> <div class='pix'><div class='led' id='led-south3-9-0'> </div><div class='led' id='led-south3-9-1'> </div><div class='led' id='led-south3-9-2'> </div></div> <div class='pix'><div class='led' id='led-south3-10-0'> </div><div class='led' id='led-south3-10-1'> </div><div class='led' id='led-south3-10-2'> </div></div> <div class='pix'><div class='led' id='led-south3-11-0'> </div><div class='led' id='led-south3-11-1'> </div><div class='led' id='led-south3-11-2'> </div></div> <div class='pix'><div class='led' id='led-south3-12-0'> </div><div class='led' id='led-south3-12-1'> </div><div class='led' id='led-south3-12-2'> </div></div> <div class='pix'><div class='led' id='led-south3-13-0'> </div><div class='led' id='led-south3-13-1'> </div><div class='led' id='led-south3-13-2'> </div></div> <div class='pix'><div class='led' id='led-south3-14-0'> </div><div class='led' id='led-south3-14-1'> </div><div class='led' id='led-south3-14-2'> </div></div> <div class='pix'><div class='led' id='led-south3-15-0'> </div><div class='led' id='led-south3-15-1'> </div><div class='led' id='led-south3-15-2'> </div></div> <div class='pix'><div class='led' id='led-south3-16-0'> </div><div class='led' id='led-south3-16-1'> </div><div class='led' id='led-south3-16-2'> </div></div> <div class='pix'><div class='led' id='led-south3-17-0'> </div><div class='led' id='led-south3-17-1'> </div><div class='led' id='led-south3-17-2'> </div></div> <div class='pix'><div class='led' id='led-south3-18-0'> </div><div class='led' id='led-south3-18-1'> </div><div class='led' id='led-south3-18-2'> </div></div> <div class='pix'><div class='led' id='led-south3-19-0'> </div><div class='led' id='led-south3-19-1'> </div><div class='led' id='led-south3-19-2'> </div></div> <div class='pix'><div class='led' id='led-south3-20-0'> </div><div class='led' id='led-south3-20-1'> </div><div class='led' id='led-south3-20-2'> </div></div> <div class='pix'><div class='led' id='led-south3-21-0'> </div><div class='led' id='led-south3-21-1'> </div><div class='led' id='led-south3-21-2'> </div></div> <div class='pix'><div class='led' id='led-south3-22-0'> </div><div class='led' id='led-south3-22-1'> </div><div class='led' id='led-south3-22-2'> </div></div> <div class='pix'><div class='led' id='led-south3-23-0'> </div><div class='led' id='led-south3-23-1'> </div><div class='led' id='led-south3-23-2'> </div></div> <div class='pix'><div class='led' id='led-south3-24-0'> </div><div class='led' id='led-south3-24-1'> </div><div class='led' id='led-south3-24-2'> </div></div> <div class='pix'><div class='led' id='led-south3-25-0'> </div><div class='led' id='led-south3-25-1'> </div><div class='led' id='led-south3-25-2'> </div></div> <div class='pix'><div class='led' id='led-south3-26-0'> </div><div class='led' id='led-south3-26-1'> </div><div class='led' id='led-south3-26-2'> </div></div> <div class='pix'><div class='led' id='led-south3-27-0'> </div><div class='led' id='led-south3-27-1'> </div><div class='led' id='led-south3-27-2'> </div></div> <div class='pix'><div class='led' id='led-south3-28-0'> </div><div class='led' id='led-south3-28-1'> </div><div class='led' id='led-south3-28-2'> </div></div> <div class='pix'><div class='led' id='led-south3-29-0'> </div><div class='led' id='led-south3-29-1'> </div><div class='led' id='led-south3-29-2'> </div></div> <div class='pix'><div class='led' id='led-south3-30-0'> </div><div class='led' id='led-south3-30-1'> </div><div class='led' id='led-south3-30-2'> </div></div> <div class='pix'><div class='led' id='led-south3-31-0'> </div><div class='led' id='led-south3-31-1'> </div><div class='led' id='led-south3-31-2'> </div></div> <div class='pix'><div class='led' id='led-south3-32-0'> </div><div class='led' id='led-south3-32-1'> </div><div class='led' id='led-south3-32-2'> </div></div> <div class='pix'><div class='led' id='led-south3-33-0'> </div><div class='led' id='led-south3-33-1'> </div><div class='led' id='led-south3-33-2'> </div></div> <div class='pix'><div class='led' id='led-south3-34-0'> </div><div class='led' id='led-south3-34-1'> </div><div class='led' id='led-south3-34-2'> </div></div> <div class='pix'><div class='led' id='led-south3-35-0'> </div><div class='led' id='led-south3-35-1'> </div><div class='led' id='led-south3-35-2'> </div></div> <div class='pix'><div class='led' id='led-south3-36-0'> </div><div class='led' id='led-south3-36-1'> </div><div class='led' id='led-south3-36-2'> </div></div> <div class='pix'><div class='led' id='led-south3-37-0'> </div><div class='led' id='led-south3-37-1'> </div><div class='led' id='led-south3-37-2'> </div></div> <div class='pix'><div class='led' id='led-south3-38-0'> </div><div class='led' id='led-south3-38-1'> </div><div class='led' id='led-south3-38-2'> </div></div> <div class='pix'><div class='led' id='led-south3-39-0'> </div><div class='led' id='led-south3-39-1'> </div><div class='led' id='led-south3-39-2'> </div></div> <div class='pix'><div class='led' id='led-south3-40-0'> </div><div class='led' id='led-south3-40-1'> </div><div class='led' id='led-south3-40-2'> </div></div> <div class='pix'><div class='led' id='led-south3-41-0'> </div><div class='led' id='led-south3-41-1'> </div><div class='led' id='led-south3-41-2'> </div></div> <div class='pix'><div class='led' id='led-south3-42-0'> </div><div class='led' id='led-south3-42-1'> </div><div class='led' id='led-south3-42-2'> </div></div> <div class='pix'><div class='led' id='led-south3-43-0'> </div><div class='led' id='led-south3-43-1'> </div><div class='led' id='led-south3-43-2'> </div></div> <div class='pix'><div class='led' id='led-south3-44-0'> </div><div class='led' id='led-south3-44-1'> </div><div class='led' id='led-south3-44-2'> </div></div> <div class='pix'><div class='led' id='led-south3-45-0'> </div><div class='led' id='led-south3-45-1'> </div><div class='led' id='led-south3-45-2'> </div></div> <div class='pix'><div class='led' id='led-south3-46-0'> </div><div class='led' id='led-south3-46-1'> </div><div class='led' id='led-south3-46-2'> </div></div> <div class='pix'><div class='led' id='led-south3-47-0'> </div><div class='led' id='led-south3-47-1'> </div><div class='led' id='led-south3-47-2'> </div></div> <div class='pix'><div class='led' id='led-south3-48-0'> </div><div class='led' id='led-south3-48-1'> </div><div class='led' id='led-south3-48-2'> </div></div> <div class='pix'><div class='led' id='led-south3-49-0'> </div><div class='led' id='led-south3-49-1'> </div><div class='led' id='led-south3-49-2'> </div></div> </div><div class='v-rect'><div class='pix'><div class='led' id='led-east1-0-0'> </div><div class='led' id='led-east1-0-1'> </div><div class='led' id='led-east1-0-2'> </div></div> <div class='pix'><div class='led' id='led-east1-1-0'> </div><div class='led' id='led-east1-1-1'> </div><div class='led' id='led-east1-1-2'> </div></div> <div class='pix'><div class='led' id='led-east1-2-0'> </div><div class='led' id='led-east1-2-1'> </div><div class='led' id='led-east1-2-2'> </div></div> <div class='pix'><div class='led' id='led-east1-3-0'> </div><div class='led' id='led-east1-3-1'> </div><div class='led' id='led-east1-3-2'> </div></div> <div class='pix'><div class='led' id='led-east1-4-0'> </div><div class='led' id='led-east1-4-1'> </div><div class='led' id='led-east1-4-2'> </div></div> <div class='pix'><div class='led' id='led-east1-5-0'> </div><div class='led' id='led-east1-5-1'> </div><div class='led' id='led-east1-5-2'> </div></div> <div class='pix'><div class='led' id='led-east1-6-0'> </div><div class='led' id='led-east1-6-1'> </div><div class='led' id='led-east1-6-2'> </div></div> <div class='pix'><div class='led' id='led-east1-7-0'> </div><div class='led' id='led-east1-7-1'> </div><div class='led' id='led-east1-7-2'> </div></div> <div class='pix'><div class='led' id='led-east1-8-0'> </div><div class='led' id='led-east1-8-1'> </div><div class='led' id='led-east1-8-2'> </div></div> <div class='pix'><div class='led' id='led-east1-9-0'> </div><div class='led' id='led-east1-9-1'> </div><div class='led' id='led-east1-9-2'> </div></div> <div class='pix'><div class='led' id='led-east1-10-0'> </div><div class='led' id='led-east1-10-1'> </div><div class='led' id='led-east1-10-2'> </div></div> <div class='pix'><div class='led' id='led-east1-11-0'> </div><div class='led' id='led-east1-11-1'> </div><div class='led' id='led-east1-11-2'> </div></div> <div class='pix'><div class='led' id='led-east1-12-0'> </div><div class='led' id='led-east1-12-1'> </div><div class='led' id='led-east1-12-2'> </div></div> <div class='pix'><div class='led' id='led-east1-13-0'> </div><div class='led' id='led-east1-13-1'> </div><div class='led' id='led-east1-13-2'> </div></div> <div class='pix'><div class='led' id='led-east1-14-0'> </div><div class='led' id='led-east1-14-1'> </div><div class='led' id='led-east1-14-2'> </div></div> <div class='pix'><div class='led' id='led-east1-15-0'> </div><div class='led' id='led-east1-15-1'> </div><div class='led' id='led-east1-15-2'> </div></div> <div class='pix'><div class='led' id='led-east1-16-0'> </div><div class='led' id='led-east1-16-1'> </div><div class='led' id='led-east1-16-2'> </div></div> <div class='pix'><div class='led' id='led-east1-17-0'> </div><div class='led' id='led-east1-17-1'> </div><div class='led' id='led-east1-17-2'> </div></div> <div class='pix'><div class='led' id='led-east1-18-0'> </div><div class='led' id='led-east1-18-1'> </div><div class='led' id='led-east1-18-2'> </div></div> <div class='pix'><div class='led' id='led-east1-19-0'> </div><div class='led' id='led-east1-19-1'> </div><div class='led' id='led-east1-19-2'> </div></div> <div class='pix'><div class='led' id='led-east1-20-0'> </div><div class='led' id='led-east1-20-1'> </div><div class='led' id='led-east1-20-2'> </div></div> <div class='pix'><div class='led' id='led-east1-21-0'> </div><div class='led' id='led-east1-21-1'> </div><div class='led' id='led-east1-21-2'> </div></div> <div class='pix'><div class='led' id='led-east1-22-0'> </div><div class='led' id='led-east1-22-1'> </div><div class='led' id='led-east1-22-2'> </div></div> <div class='pix'><div class='led' id='led-east1-23-0'> </div><div class='led' id='led-east1-23-1'> </div><div class='led' id='led-east1-23-2'> </div></div> <div class='pix'><div class='led' id='led-east1-24-0'> </div><div class='led' id='led-east1-24-1'> </div><div class='led' id='led-east1-24-2'> </div></div> <div class='pix'><div class='led' id='led-east1-25-0'> </div><div class='led' id='led-east1-25-1'> </div><div class='led' id='led-east1-25-2'> </div></div> <div class='pix'><div class='led' id='led-east1-26-0'> </div><div class='led' id='led-east1-26-1'> </div><div class='led' id='led-east1-26-2'> </div></div> <div class='pix'><div class='led' id='led-east1-27-0'> </div><div class='led' id='led-east1-27-1'> </div><div class='led' id='led-east1-27-2'> </div></div> <div class='pix'><div class='led' id='led-east1-28-0'> </div><div class='led' id='led-east1-28-1'> </div><div class='led' id='led-east1-28-2'> </div></div> <div class='pix'><div class='led' id='led-east1-29-0'> </div><div class='led' id='led-east1-29-1'> </div><div class='led' id='led-east1-29-2'> </div></div> <div class='pix'><div class='led' id='led-east1-30-0'> </div><div class='led' id='led-east1-30-1'> </div><div class='led' id='led-east1-30-2'> </div></div> <div class='pix'><div class='led' id='led-east1-31-0'> </div><div class='led' id='led-east1-31-1'> </div><div class='led' id='led-east1-31-2'> </div></div> <div class='pix'><div class='led' id='led-east1-32-0'> </div><div class='led' id='led-east1-32-1'> </div><div class='led' id='led-east1-32-2'> </div></div> <div class='pix'><div class='led' id='led-east1-33-0'> </div><div class='led' id='led-east1-33-1'> </div><div class='led' id='led-east1-33-2'> </div></div> <div class='pix'><div class='led' id='led-east1-34-0'> </div><div class='led' id='led-east1-34-1'> </div><div class='led' id='led-east1-34-2'> </div></div> <div class='pix'><div class='led' id='led-east1-35-0'> </div><div class='led' id='led-east1-35-1'> </div><div class='led' id='led-east1-35-2'> </div></div> <div class='pix'><div class='led' id='led-east1-36-0'> </div><div class='led' id='led-east1-36-1'> </div><div class='led' id='led-east1-36-2'> </div></div> <div class='pix'><div class='led' id='led-east1-37-0'> </div><div class='led' id='led-east1-37-1'> </div><div class='led' id='led-east1-37-2'> </div></div> <div class='pix'><div class='led' id='led-east1-38-0'> </div><div class='led' id='led-east1-38-1'> </div><div class='led' id='led-east1-38-2'> </div></div> <div class='pix'><div class='led' id='led-east1-39-0'> </div><div class='led' id='led-east1-39-1'> </div><div class='led' id='led-east1-39-2'> </div></div> <div class='pix'><div class='led' id='led-east1-40-0'> </div><div class='led' id='led-east1-40-1'> </div><div class='led' id='led-east1-40-2'> </div></div> <div class='pix'><div class='led' id='led-east1-41-0'> </div><div class='led' id='led-east1-41-1'> </div><div class='led' id='led-east1-41-2'> </div></div> <div class='pix'><div class='led' id='led-east1-42-0'> </div><div class='led' id='led-east1-42-1'> </div><div class='led' id='led-east1-42-2'> </div></div> <div class='pix'><div class='led' id='led-east1-43-0'> </div><div class='led' id='led-east1-43-1'> </div><div class='led' id='led-east1-43-2'> </div></div> <div class='pix'><div class='led' id='led-east1-44-0'> </div><div class='led' id='led-east1-44-1'> </div><div class='led' id='led-east1-44-2'> </div></div> <div class='pix'><div class='led' id='led-east1-45-0'> </div><div class='led' id='led-east1-45-1'> </div><div class='led' id='led-east1-45-2'> </div></div> <div class='pix'><div class='led' id='led-east1-46-0'> </div><div class='led' id='led-east1-46-1'> </div><div class='led' id='led-east1-46-2'> </div></div> <div class='pix'><div class='led' id='led-east1-47-0'> </div><div class='led' id='led-east1-47-1'> </div><div class='led' id='led-east1-47-2'> </div></div> <div class='pix'><div class='led' id='led-east1-48-0'> </div><div class='led' id='led-east1-48-1'> </div><div class='led' id='led-east1-48-2'> </div></div> <div class='pix'><div class='led' id='led-east1-49-0'> </div><div class='led' id='led-east1-49-1'> </div><div class='led' id='led-east1-49-2'> </div></div> </div><div class='v-rect'><div class='pix'><div class='led' id='led-east2-0-0'> </div><div class='led' id='led-east2-0-1'> </div><div class='led' id='led-east2-0-2'> </div></div> <div class='pix'><div class='led' id='led-east2-1-0'> </div><div class='led' id='led-east2-1-1'> </div><div class='led' id='led-east2-1-2'> </div></div> <div class='pix'><div class='led' id='led-east2-2-0'> </div><div class='led' id='led-east2-2-1'> </div><div class='led' id='led-east2-2-2'> </div></div> <div class='pix'><div class='led' id='led-east2-3-0'> </div><div class='led' id='led-east2-3-1'> </div><div class='led' id='led-east2-3-2'> </div></div> <div class='pix'><div class='led' id='led-east2-4-0'> </div><div class='led' id='led-east2-4-1'> </div><div class='led' id='led-east2-4-2'> </div></div> <div class='pix'><div class='led' id='led-east2-5-0'> </div><div class='led' id='led-east2-5-1'> </div><div class='led' id='led-east2-5-2'> </div></div> <div class='pix'><div class='led' id='led-east2-6-0'> </div><div class='led' id='led-east2-6-1'> </div><div class='led' id='led-east2-6-2'> </div></div> <div class='pix'><div class='led' id='led-east2-7-0'> </div><div class='led' id='led-east2-7-1'> </div><div class='led' id='led-east2-7-2'> </div></div> <div class='pix'><div class='led' id='led-east2-8-0'> </div><div class='led' id='led-east2-8-1'> </div><div class='led' id='led-east2-8-2'> </div></div> <div class='pix'><div class='led' id='led-east2-9-0'> </div><div class='led' id='led-east2-9-1'> </div><div class='led' id='led-east2-9-2'> </div></div> <div class='pix'><div class='led' id='led-east2-10-0'> </div><div class='led' id='led-east2-10-1'> </div><div class='led' id='led-east2-10-2'> </div></div> <div class='pix'><div class='led' id='led-east2-11-0'> </div><div class='led' id='led-east2-11-1'> </div><div class='led' id='led-east2-11-2'> </div></div> <div class='pix'><div class='led' id='led-east2-12-0'> </div><div class='led' id='led-east2-12-1'> </div><div class='led' id='led-east2-12-2'> </div></div> <div class='pix'><div class='led' id='led-east2-13-0'> </div><div class='led' id='led-east2-13-1'> </div><div class='led' id='led-east2-13-2'> </div></div> <div class='pix'><div class='led' id='led-east2-14-0'> </div><div class='led' id='led-east2-14-1'> </div><div class='led' id='led-east2-14-2'> </div></div> <div class='pix'><div class='led' id='led-east2-15-0'> </div><div class='led' id='led-east2-15-1'> </div><div class='led' id='led-east2-15-2'> </div></div> <div class='pix'><div class='led' id='led-east2-16-0'> </div><div class='led' id='led-east2-16-1'> </div><div class='led' id='led-east2-16-2'> </div></div> <div class='pix'><div class='led' id='led-east2-17-0'> </div><div class='led' id='led-east2-17-1'> </div><div class='led' id='led-east2-17-2'> </div></div> <div class='pix'><div class='led' id='led-east2-18-0'> </div><div class='led' id='led-east2-18-1'> </div><div class='led' id='led-east2-18-2'> </div></div> <div class='pix'><div class='led' id='led-east2-19-0'> </div><div class='led' id='led-east2-19-1'> </div><div class='led' id='led-east2-19-2'> </div></div> <div class='pix'><div class='led' id='led-east2-20-0'> </div><div class='led' id='led-east2-20-1'> </div><div class='led' id='led-east2-20-2'> </div></div> <div class='pix'><div class='led' id='led-east2-21-0'> </div><div class='led' id='led-east2-21-1'> </div><div class='led' id='led-east2-21-2'> </div></div> <div class='pix'><div class='led' id='led-east2-22-0'> </div><div class='led' id='led-east2-22-1'> </div><div class='led' id='led-east2-22-2'> </div></div> <div class='pix'><div class='led' id='led-east2-23-0'> </div><div class='led' id='led-east2-23-1'> </div><div class='led' id='led-east2-23-2'> </div></div> <div class='pix'><div class='led' id='led-east2-24-0'> </div><div class='led' id='led-east2-24-1'> </div><div class='led' id='led-east2-24-2'> </div></div> <div class='pix'><div class='led' id='led-east2-25-0'> </div><div class='led' id='led-east2-25-1'> </div><div class='led' id='led-east2-25-2'> </div></div> <div class='pix'><div class='led' id='led-east2-26-0'> </div><div class='led' id='led-east2-26-1'> </div><div class='led' id='led-east2-26-2'> </div></div> <div class='pix'><div class='led' id='led-east2-27-0'> </div><div class='led' id='led-east2-27-1'> </div><div class='led' id='led-east2-27-2'> </div></div> <div class='pix'><div class='led' id='led-east2-28-0'> </div><div class='led' id='led-east2-28-1'> </div><div class='led' id='led-east2-28-2'> </div></div> <div class='pix'><div class='led' id='led-east2-29-0'> </div><div class='led' id='led-east2-29-1'> </div><div class='led' id='led-east2-29-2'> </div></div> <div class='pix'><div class='led' id='led-east2-30-0'> </div><div class='led' id='led-east2-30-1'> </div><div class='led' id='led-east2-30-2'> </div></div> <div class='pix'><div class='led' id='led-east2-31-0'> </div><div class='led' id='led-east2-31-1'> </div><div class='led' id='led-east2-31-2'> </div></div> <div class='pix'><div class='led' id='led-east2-32-0'> </div><div class='led' id='led-east2-32-1'> </div><div class='led' id='led-east2-32-2'> </div></div> <div class='pix'><div class='led' id='led-east2-33-0'> </div><div class='led' id='led-east2-33-1'> </div><div class='led' id='led-east2-33-2'> </div></div> <div class='pix'><div class='led' id='led-east2-34-0'> </div><div class='led' id='led-east2-34-1'> </div><div class='led' id='led-east2-34-2'> </div></div> <div class='pix'><div class='led' id='led-east2-35-0'> </div><div class='led' id='led-east2-35-1'> </div><div class='led' id='led-east2-35-2'> </div></div> <div class='pix'><div class='led' id='led-east2-36-0'> </div><div class='led' id='led-east2-36-1'> </div><div class='led' id='led-east2-36-2'> </div></div> <div class='pix'><div class='led' id='led-east2-37-0'> </div><div class='led' id='led-east2-37-1'> </div><div class='led' id='led-east2-37-2'> </div></div> <div class='pix'><div class='led' id='led-east2-38-0'> </div><div class='led' id='led-east2-38-1'> </div><div class='led' id='led-east2-38-2'> </div></div> <div class='pix'><div class='led' id='led-east2-39-0'> </div><div class='led' id='led-east2-39-1'> </div><div class='led' id='led-east2-39-2'> </div></div> <div class='pix'><div class='led' id='led-east2-40-0'> </div><div class='led' id='led-east2-40-1'> </div><div class='led' id='led-east2-40-2'> </div></div> <div class='pix'><div class='led' id='led-east2-41-0'> </div><div class='led' id='led-east2-41-1'> </div><div class='led' id='led-east2-41-2'> </div></div> <div class='pix'><div class='led' id='led-east2-42-0'> </div><div class='led' id='led-east2-42-1'> </div><div class='led' id='led-east2-42-2'> </div></div> <div class='pix'><div class='led' id='led-east2-43-0'> </div><div class='led' id='led-east2-43-1'> </div><div class='led' id='led-east2-43-2'> </div></div> <div class='pix'><div class='led' id='led-east2-44-0'> </div><div class='led' id='led-east2-44-1'> </div><div class='led' id='led-east2-44-2'> </div></div> <div class='pix'><div class='led' id='led-east2-45-0'> </div><div class='led' id='led-east2-45-1'> </div><div class='led' id='led-east2-45-2'> </div></div> <div class='pix'><div class='led' id='led-east2-46-0'> </div><div class='led' id='led-east2-46-1'> </div><div class='led' id='led-east2-46-2'> </div></div> <div class='pix'><div class='led' id='led-east2-47-0'> </div><div class='led' id='led-east2-47-1'> </div><div class='led' id='led-east2-47-2'> </div></div> <div class='pix'><div class='led' id='led-east2-48-0'> </div><div class='led' id='led-east2-48-1'> </div><div class='led' id='led-east2-48-2'> </div></div> <div class='pix'><div class='led' id='led-east2-49-0'> </div><div class='led' id='led-east2-49-1'> </div><div class='led' id='led-east2-49-2'> </div></div> </div><div class='v-rect'><div class='pix'><div class='led' id='led-east3-0-0'> </div><div class='led' id='led-east3-0-1'> </div><div class='led' id='led-east3-0-2'> </div></div> <div class='pix'><div class='led' id='led-east3-1-0'> </div><div class='led' id='led-east3-1-1'> </div><div class='led' id='led-east3-1-2'> </div></div> <div class='pix'><div class='led' id='led-east3-2-0'> </div><div class='led' id='led-east3-2-1'> </div><div class='led' id='led-east3-2-2'> </div></div> <div class='pix'><div class='led' id='led-east3-3-0'> </div><div class='led' id='led-east3-3-1'> </div><div class='led' id='led-east3-3-2'> </div></div> <div class='pix'><div class='led' id='led-east3-4-0'> </div><div class='led' id='led-east3-4-1'> </div><div class='led' id='led-east3-4-2'> </div></div> <div class='pix'><div class='led' id='led-east3-5-0'> </div><div class='led' id='led-east3-5-1'> </div><div class='led' id='led-east3-5-2'> </div></div> <div class='pix'><div class='led' id='led-east3-6-0'> </div><div class='led' id='led-east3-6-1'> </div><div class='led' id='led-east3-6-2'> </div></div> <div class='pix'><div class='led' id='led-east3-7-0'> </div><div class='led' id='led-east3-7-1'> </div><div class='led' id='led-east3-7-2'> </div></div> <div class='pix'><div class='led' id='led-east3-8-0'> </div><div class='led' id='led-east3-8-1'> </div><div class='led' id='led-east3-8-2'> </div></div> <div class='pix'><div class='led' id='led-east3-9-0'> </div><div class='led' id='led-east3-9-1'> </div><div class='led' id='led-east3-9-2'> </div></div> <div class='pix'><div class='led' id='led-east3-10-0'> </div><div class='led' id='led-east3-10-1'> </div><div class='led' id='led-east3-10-2'> </div></div> <div class='pix'><div class='led' id='led-east3-11-0'> </div><div class='led' id='led-east3-11-1'> </div><div class='led' id='led-east3-11-2'> </div></div> <div class='pix'><div class='led' id='led-east3-12-0'> </div><div class='led' id='led-east3-12-1'> </div><div class='led' id='led-east3-12-2'> </div></div> <div class='pix'><div class='led' id='led-east3-13-0'> </div><div class='led' id='led-east3-13-1'> </div><div class='led' id='led-east3-13-2'> </div></div> <div class='pix'><div class='led' id='led-east3-14-0'> </div><div class='led' id='led-east3-14-1'> </div><div class='led' id='led-east3-14-2'> </div></div> <div class='pix'><div class='led' id='led-east3-15-0'> </div><div class='led' id='led-east3-15-1'> </div><div class='led' id='led-east3-15-2'> </div></div> <div class='pix'><div class='led' id='led-east3-16-0'> </div><div class='led' id='led-east3-16-1'> </div><div class='led' id='led-east3-16-2'> </div></div> <div class='pix'><div class='led' id='led-east3-17-0'> </div><div class='led' id='led-east3-17-1'> </div><div class='led' id='led-east3-17-2'> </div></div> <div class='pix'><div class='led' id='led-east3-18-0'> </div><div class='led' id='led-east3-18-1'> </div><div class='led' id='led-east3-18-2'> </div></div> <div class='pix'><div class='led' id='led-east3-19-0'> </div><div class='led' id='led-east3-19-1'> </div><div class='led' id='led-east3-19-2'> </div></div> <div class='pix'><div class='led' id='led-east3-20-0'> </div><div class='led' id='led-east3-20-1'> </div><div class='led' id='led-east3-20-2'> </div></div> <div class='pix'><div class='led' id='led-east3-21-0'> </div><div class='led' id='led-east3-21-1'> </div><div class='led' id='led-east3-21-2'> </div></div> <div class='pix'><div class='led' id='led-east3-22-0'> </div><div class='led' id='led-east3-22-1'> </div><div class='led' id='led-east3-22-2'> </div></div> <div class='pix'><div class='led' id='led-east3-23-0'> </div><div class='led' id='led-east3-23-1'> </div><div class='led' id='led-east3-23-2'> </div></div> <div class='pix'><div class='led' id='led-east3-24-0'> </div><div class='led' id='led-east3-24-1'> </div><div class='led' id='led-east3-24-2'> </div></div> <div class='pix'><div class='led' id='led-east3-25-0'> </div><div class='led' id='led-east3-25-1'> </div><div class='led' id='led-east3-25-2'> </div></div> <div class='pix'><div class='led' id='led-east3-26-0'> </div><div class='led' id='led-east3-26-1'> </div><div class='led' id='led-east3-26-2'> </div></div> <div class='pix'><div class='led' id='led-east3-27-0'> </div><div class='led' id='led-east3-27-1'> </div><div class='led' id='led-east3-27-2'> </div></div> <div class='pix'><div class='led' id='led-east3-28-0'> </div><div class='led' id='led-east3-28-1'> </div><div class='led' id='led-east3-28-2'> </div></div> <div class='pix'><div class='led' id='led-east3-29-0'> </div><div class='led' id='led-east3-29-1'> </div><div class='led' id='led-east3-29-2'> </div></div> <div class='pix'><div class='led' id='led-east3-30-0'> </div><div class='led' id='led-east3-30-1'> </div><div class='led' id='led-east3-30-2'> </div></div> <div class='pix'><div class='led' id='led-east3-31-0'> </div><div class='led' id='led-east3-31-1'> </div><div class='led' id='led-east3-31-2'> </div></div> <div class='pix'><div class='led' id='led-east3-32-0'> </div><div class='led' id='led-east3-32-1'> </div><div class='led' id='led-east3-32-2'> </div></div> <div class='pix'><div class='led' id='led-east3-33-0'> </div><div class='led' id='led-east3-33-1'> </div><div class='led' id='led-east3-33-2'> </div></div> <div class='pix'><div class='led' id='led-east3-34-0'> </div><div class='led' id='led-east3-34-1'> </div><div class='led' id='led-east3-34-2'> </div></div> <div class='pix'><div class='led' id='led-east3-35-0'> </div><div class='led' id='led-east3-35-1'> </div><div class='led' id='led-east3-35-2'> </div></div> <div class='pix'><div class='led' id='led-east3-36-0'> </div><div class='led' id='led-east3-36-1'> </div><div class='led' id='led-east3-36-2'> </div></div> <div class='pix'><div class='led' id='led-east3-37-0'> </div><div class='led' id='led-east3-37-1'> </div><div class='led' id='led-east3-37-2'> </div></div> <div class='pix'><div class='led' id='led-east3-38-0'> </div><div class='led' id='led-east3-38-1'> </div><div class='led' id='led-east3-38-2'> </div></div> <div class='pix'><div class='led' id='led-east3-39-0'> </div><div class='led' id='led-east3-39-1'> </div><div class='led' id='led-east3-39-2'> </div></div> <div class='pix'><div class='led' id='led-east3-40-0'> </div><div class='led' id='led-east3-40-1'> </div><div class='led' id='led-east3-40-2'> </div></div> <div class='pix'><div class='led' id='led-east3-41-0'> </div><div class='led' id='led-east3-41-1'> </div><div class='led' id='led-east3-41-2'> </div></div> <div class='pix'><div class='led' id='led-east3-42-0'> </div><div class='led' id='led-east3-42-1'> </div><div class='led' id='led-east3-42-2'> </div></div> <div class='pix'><div class='led' id='led-east3-43-0'> </div><div class='led' id='led-east3-43-1'> </div><div class='led' id='led-east3-43-2'> </div></div> <div class='pix'><div class='led' id='led-east3-44-0'> </div><div class='led' id='led-east3-44-1'> </div><div class='led' id='led-east3-44-2'> </div></div> <div class='pix'><div class='led' id='led-east3-45-0'> </div><div class='led' id='led-east3-45-1'> </div><div class='led' id='led-east3-45-2'> </div></div> <div class='pix'><div class='led' id='led-east3-46-0'> </div><div class='led' id='led-east3-46-1'> </div><div class='led' id='led-east3-46-2'> </div></div> <div class='pix'><div class='led' id='led-east3-47-0'> </div><div class='led' id='led-east3-47-1'> </div><div class='led' id='led-east3-47-2'> </div></div> <div class='pix'><div class='led' id='led-east3-48-0'> </div><div class='led' id='led-east3-48-1'> </div><div class='led' id='led-east3-48-2'> </div></div> <div class='pix'><div class='led' id='led-east3-49-0'> </div><div class='led' id='led-east3-49-1'> </div><div class='led' id='led-east3-49-2'> </div></div> </div></div></div> \n","storeOutMessages":false,"fwdInMessages":false,"templateScope":"local","x":1250,"y":480,"wires":[[]]},{"id":"a4195113.60ec68","type":"ui_template","z":"5fbc3ab3.de7abc","group":"f513cde4.73315","name":"LED Preview ng style","order":3,"width":"6","height":"7","format":"<style>\n.container {\n    text-align: center;\n}\n\n.h-rect {\n    float: left;\n    background-color: #111111;\n    padding: 2px;\n}\n\n.v-rect {\n    float: left;\n    padding: 2px;\n    margin: 2px;\n    background-color: #222222;\n    border-color: black;\n    border: 1px;\n    border-radius: 2px;\n}\n\n.pix {\n    padding: 1px;\n    margin: 0px;\n}\n\n.led {\n    width: 8px;\n    height: 1px;\n    margin: 0px;\n    font-size: 0px;\n}\n</style>\n\n<div class=\"container\">\n    <div class=\"h-rect\">\n      <div class=\"v-rect\" ng-repeat=\"(key, theStrip) in msg.led_rgb.tree\">\n        <div class=\"pix\" ng-repeat=\"(key, thePixel) in theStrip\">\n            <div class=\"led\" style=\"background-color: {{thePixel[0]}}\"></div>\n            <div class=\"led\" style=\"background-color: {{thePixel[1]}}\"></div>\n            <div class=\"led\" style=\"background-color: {{thePixel[2]}}\"></div>\n        </div>\n      </div>\n    </div>\n</div>","storeOutMessages":false,"fwdInMessages":false,"templateScope":"local","x":820,"y":540,"wires":[[]]}]